/* ==========================================================================
   Carousel containers
   ========================================================================== */

	.carousel-container{
		padding:0;
		margin:0;
	}

	.carousel {
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 100%;
		/*max-width: 992px;*/
		max-width:100%;
		/*min-height: 94px;*/
	}

	.carousel .carousel-wrapper {
		margin: 0;
		padding-left: 6.45161%;
		padding-right: 6.45161%;
		position: relative;
		overflow: hidden;
		width: auto;
		border:solid #dedede;
		border-width:1px 0;
	}

	.carouselBeta {
		font-size: 0;
		position: relative;
		width: 100%;
	}

	.carouselBeta-slide {
		position: relative;
	}

/* ==========================================================================
   Carousel paging animations
   ========================================================================== */

	.carouselBeta .carouselBeta-item {
		display: none;
	}

	.carouselBeta .carouselBeta-active {
		display: block;
	}

	.carouselBeta-slide {
		position: relative;
	}
	.carouselBeta-slide .carouselBeta-item {
		display: block;
		position: absolute;
		text-align: center;
		top: 0;
		transform: translateX(110%);
		width: 100%;
		z-index: 1;
	}
	.no-csstransitions .carouselBeta-slide .carouselBeta-item {
		left: 120%;
	}
	.carouselBeta-slide .carouselBeta-item:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
	.carouselBeta-no-transition .carouselBeta-item {
		transition: none 0s ease 0s;
	}
	.carouselBeta-slide .carouselBeta-active {
		position: relative;
	}
	.carouselBeta-slide .carouselBeta-in, .carouselBeta-slide-reverse .carouselBeta-in, .carouselBeta-slide .carouselBeta-active {
		transform: translateX(0px);
	}
	.no-csstransitions .carouselBeta-slide .carouselBeta-active {
		left: 0;
	}
	.carouselBeta-slide .carouselBeta-out, .carousel .carouselBeta-slide-reverse .carouselBeta-in-reverse {
		transform: translateX(-110%);
	}
	.carouselBeta-slide-reverse .carouselBeta-out {
		transform: translateX(110%);
	}
	.carouselBeta-slide .carouselBeta-animation {
		transition: transform 1s ease 0s;
	}

/* ==========================================================================
   Carousel items
   ========================================================================== */

	.carousel .carouselItem {
		display: inline-block;
		font-size: 10px;
		/*margin-left: 1.851%;
		width: 18.51%;*/
		margin-left: 1.8%;
		width: 10.7%;
	}

	.carousel .carouselItem:nth-child(8n+1) {
		margin-left: 0;
	}

	.carousel .iteminner{
		cursor: pointer;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		width: 100%;
	}

	.carousel .iteminner img {
		display: inline-block;
		height: auto;
		width: 100%;
		max-width:160px; /* Important set max-width to the actual width of images */
	}

/* ==========================================================================
   Carousel controls
   ========================================================================== */

	.carousel .controls {
		display: block;
		height: 100%;
		left: 0;
		top:0;
		position: absolute;
		text-decoration: none;
		width: 22px;
		padding:0 22px 0 32px;
		z-index: 9999;
		font-size: 10px;
		transition: background 0.2s ease 0s;
		text-indent:-999em;
		overflow:hidden;
		outline:none;
	}

	.carousel .next {
		left: auto;
		right:-7.6%;
		background: url(../img/carousel-right.png) #5abd19 no-repeat center center;
	}

	.carousel .prev {
		left: -7.6%;
		background: url(../img/carousel-left.png) #5abd19 no-repeat center center;
	}

	.carousel .carouselBeta .carouselBeta-nav .inactive, 
	.carousel .carouselBeta .carouselBeta-nav .inactive:hover, 
	.carousel .carouselBeta .carouselBeta-nav .inactive:focus {
		background-color:#e6e5ea;
		cursor: default;
	}

	.carouselBeta .carouselBeta-nav .controls:hover,
	.carouselBeta .carouselBeta-nav .controls:focus {
		background-color:#00864f;
	}

	.carousel .carouselBeta .carouselBeta-nav .inactive .icon:before {
		color: #a1a1a1;
	}

	.mobileHideControls .carouselBeta-nav, 
	.mobileHideControls .pager {
		display: none;
	}

/* ==========================================================================
   Carousel indicator
   ========================================================================== */

	.carousel .indicator{
		text-align:center;
		margin-top:1em;
		display:none;
	}


/* ==========================================================================
   Responsive for Bootstrap v3 Mobile Breakpoint
   ========================================================================== */

/* Extra Small devices (mobiles, 767px and down) */
.responsive{
	@media (max-width: $screen-xs-max) {

		.full-width-panel.carousel-container{
			border:none;
		}

		.carousel .carouselItem{
			width:100%;
		}

		.carousel .iteminner img{
			max-width:100%;
			-webkit-transform: translate3d(0, 0, 0);
		}

		.carousel .carousel-wrapper{
			border:none;
		}

		.carousel .next {
			background: url(../img/arrow-right-22x34.png) #fff no-repeat center center;
		}

		.carousel .prev {
			background: url(../img/arrow-left-22x34.png) #fff no-repeat center center;
		}

		.carouselBeta .carouselBeta-nav .next:hover,
		.carouselBeta .carouselBeta-nav .prev:hover,
		.carouselBeta .carouselBeta-nav .controls:hover,
		.carouselBeta .carouselBeta-nav .controls:focus {
			background-color:#fff;
		}

		.carousel .carouselBeta .carouselBeta-nav .next.inactive, 
		.carousel .carouselBeta .carouselBeta-nav .next.inactive:hover{
			background: url(../img/carousel-mobile-grey-right.png) #fff no-repeat center center;
		}

		.carousel .carouselBeta .carouselBeta-nav .prev.inactive, 
		.carousel .carouselBeta .carouselBeta-nav .prev.inactive:hover{
			background: url(../img/carousel-mobile-grey-left.png) #fff no-repeat center center;
		}
	}
}