/* ==========================================================================
   Footer
   ========================================================================== */

footer{
	clear:both;
	background:$charcoal;
	padding:55px 0 90px 0;
	.row{
		margin:0;	
	}
	a{
		color:$white;
		text-decoration:none;
		&:hover,
		&:focus{
			color:$white;
		}
	}
	.footer-inner{
		max-width:790px;
		margin:0 auto;
		p{
			font-size:emCalc(12) !important;
			text-align:center;
			color:$white;
			@include default-font;
		}
	}
	nav{
		float:left;
		width:100%;
		border-bottom:1px solid $white;
		margin-bottom:22px;
		ul{
			padding:0;
			margin-bottom:22px;
			text-align:center;
		}
		li{
			display: inline;
			@include reset-list;
			padding-left:10px;
			font-size:1em;
			line-height:1em;
		}
		li:first-child{
			padding-left:0;
		}
		a{
			text-transform:uppercase;
			font-size:emCalc(12);
			@include avenir-medium;
		}
	}
}
