/* ==========================================================================
   Header / Nav
   ========================================================================== */

header{
	z-index:99999;
	position:relative;
	.logo{
		float:left;
		background:$white;
		img{
			display:inline-block;
			max-width:100%;
			height:auto;
		}
	}
	.header-inner{
		margin:0 auto;
		max-width:$screen-md-min;
	}
	.header-top{
		float:right;
		height:50px;
		max-width:790px;
		width:auto;
		@include avenir-medium;
		.share-heading{
			float:left;
			text-transform:uppercase;
			padding-right:20px;
			font-size:emCalc(12);
			padding-top:17px;
		}
		.share-feed{
			float:right;
			height:100%;
			padding:2px 20px 2px 0;
			margin:0;
			border-right:1px solid #ccc;
			div{
				float:left;
				padding:15px 25px 0 20px;
				font-size:emCalc(12);
				color:$black;
				border:solid #ccc;
				border-width:0 0 0 1px;
				height:100%;
				&:first-child{
					margin-right:20px;
				}
				&.increase{
					background:url(../img/share-increase.png) no-repeat center right;
				}
				&.decrease{
					background:url(../img/share-decrease.png) no-repeat center right;
				}
				&.no-change{
					background:url(../img/share-no-change.png) no-repeat center right;
				}
			}
		}
	}
}