body, #main-content{
	/*overflow-x:hidden;*/
}

/* ==========================================================================
	Fix for Windows Phone 8 Viewport issue 
	See http://trentwalton.com/2013/01/16/windows-phone-8-viewport-fix/
   ========================================================================== */

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

/* ==========================================================================
   CSS Index

		1) Custom and Foundation adjusted SASS variables
		2) Text sizing
		3) Common styles (links, ordered-lists, tables etc.)
		4) Layout structure
   ========================================================================== */

/* ==========================================================================
   Custom and Foundation adjusted SASS variables
   ========================================================================== */

/* Bootstrap 3 Variable Amends */

/* Custom Variables & Mixins */ 
@mixin kellum-method { 
	/* Background image / text replacement 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;*/
	/* Replaced with new method after IE issues - http://nicolasgallagher.com/another-css-image-replacement-technique/ */
	font: 0/0 a;
    text-shadow: none;
    color: transparent;
	display:block;
}

@mixin kellum-method-reverse { 
	/* Background image / text replacement */
	text-indent:0;
	white-space: normal;
	overflow: visible;
}

@mixin reset-list {
	list-style:none;
	padding:0;
	margin:0;
}

@mixin background-opacity($color, $opacity: 0.8) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}

@mixin border-opacity($color, $border-width, $opacity: 0.8){
    border:solid $color;
    border:solid rgba($color, $opacity);
	border-width:$border-width;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

@mixin arrow-link{
	@include avenir-medium();
	background-color:none;
	display:inline-block;
	text-decoration:none !important;
	.icon-Arrow{
		margin-left:8px;
	}
}

@mixin arrow-link-hover-white {
	&:hover, &:focus {
		.icon-Arrow {
			color:$white;
		}
	}
}

@mixin avenir-regular{
	font-family:'AvenirNextLTW01-Regular', Arial, Helvetica, sans-serif;
}

@mixin avenir-medium{
	font-family:'AvenirNextLTW01-Medium', Arial, Helvetica, sans-serif;
}

@mixin avenir-demi{
	font-family:'Avenir Next LT W01 Demi', Arial, Helvetica, sans-serif;
}

@mixin avenir-bold{
	font-family:'Avenir Next LT W01 Bold', Arial, Helvetica, sans-serif;
}

@mixin georgia{
	font-family:Georgia, Arial, Helvetica, sans-serif;
}

@mixin default-font{
	font-family:Arial, Helvetica, sans-serif;
}

@function emCalc($target, $context:14) {
    @return $target / $context * 1em;
}

/* _type.scss */
$font-size-h1: emCalc(60);
$font-size-h2: emCalc(22);
$font-size-h3: emCalc(22);
$font-size-h4: emCalc(18);
$font-size-h5: emCalc(18);
$font-size-p: emCalc(16);

/* _navbar.scss */
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;

/* Heights */
$header-height-small:emCalc(51);
$header-height-large:emCalc(101);
$nav-height:372px;
$bg-panel-height:emCalc(338.9);
$bg-panel-headline-height:emCalc(426);

/* Margins */
$paragraph-margin-bottom: emCalc(18);
$h1-margin-bottom:emCalc(14);
$h1-margin-bottom-small:emCalc(3.5);
$h2-margin-bottom:emCalc(6);
$h3-margin-bottom:emCalc(6);

/* ==========================================================================
   Text sizing
   ========================================================================== */

h2, h3, p{
	color:$black;
}

/* FONT SIZING - BASED ON FOUNDATION 4 EMCALC */

h1, h2, h3, h4, h5, ul, ol, li, p{
	@include avenir-medium;
	padding:0;
	margin:0;
}

h1, h2, h3, h4, h5, p{
	font-weight:normal;
	word-wrap:break-word;
}

h1{
	font-size:$font-size-h1;
	line-height:emCalc(12.5);
	margin-bottom: $h1-margin-bottom;
	text-transform:uppercase;
}

@mixin lowercase-h1{
	h1{
		font-size:$font-size-h2;	
		line-height:emCalc(17.5);
		margin-bottom:$h2-margin-bottom;
		text-transform:none;
	}
}

h2{
	font-size:$font-size-h2;	
	line-height:emCalc(17.5);
	margin-bottom:$h2-margin-bottom;
}

h3, .intro-copy p{
	font-size:$font-size-h3;
	line-height:emCalc(17.5);
	margin-bottom: $h3-margin-bottom;
}

h4{
	font-size:$font-size-h4;
	line-height:emCalc(14);
}

h5{
	font-size:$font-size-h5;
	line-height:emCalc(14);
}

p, li{
	font-size:$font-size-p;
	line-height:emCalc(20);
	margin-bottom:$paragraph-margin-bottom;
}

a {
	color: $link-color;
	text-decoration: underline;
}

.image-heading{
	@include kellum-method;
	margin-bottom:15px;
}

/* ==========================================================================
   Common styles (links, ordered-lists, tables etc.)
   ========================================================================== */

.arrow-link{
	@include arrow-link;
}

img{
	max-width:100%;
	height:auto;
	display:inline-block;
}

ul, ol{
	padding:0 0 28px 15px;
}

ol{
	padding-left:20px;
}

/* ==========================================================================
   Layout structure
   ========================================================================== */

.container{
	width:100%;
}

.content-wrapper{
	margin:0 auto;
	text-align:left;	
	max-width:1020px;	
	width:100%;
	position:relative;
}

.intro-copy{
	padding-bottom:12px;
}

/* ==========================================================================
   Episerver default styles cancelling classes
   ========================================================================== */

.no-border{
	border:none !important;
}

.no-padding{
	padding:0 !important;
}

.no-background{
	background:none !important;
}