/* ==========================================================================
   Google Map
   ========================================================================== */

.google-map{
	margin:0;
	padding:0;
	display: none;
	position:relative;
	@media (min-width: $screen-tablet) {
		display: block;
	}		
}

#map{
	background:#ccc;
	width:100%;
	height:500px;
}

#map img{
	max-width:none;
}

#infobox {
	margin-bottom:7px;
    background:#000;
    padding:15px 20px 0 20px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
	min-height:154px;
	max-height:154px;
	overflow:auto;
	.infobox-title,
	.arrow-link, p{
		@include avenir-medium;
		color:#fff;
	}
	.infobox-title,
	.infobox-subtitle{
		text-transform:uppercase;
	}
	.arrow-link{
		font-size:emCalc(28);
		@include arrow-link-hover-white;
		.icon-Arrow{
			font-size:emCalc(14);	
		}	
	}
	.infobox-title, p{
		font-size:emCalc(17.75);
	}
	.infobox-title{
		display: block;
		border-bottom:1px solid $white;
		width:100%;
		padding-bottom:5px;
		margin-bottom:4px;
	}
	p{
		margin-bottom:18px;
	}
}

.infoBox img{
	display:none;
}

.map-controls{
	position:absolute;
	width:auto;
	height:auto;
	top:30px;
	left:90px;
	z-index:9;
	.toggle-map{
		background: url(../img/green-plus.png) $charcoal no-repeat 90% 50%;
		color:$white;
		padding:10px 30px 10px 10px;
		@include avenir-demi;
		text-decoration:none;
		font-size:emCalc(14);
		&:hover, &:focus{
			background-image: url(../img/green-plus-hover.png);	
		}
		&.hide-map{
			background-image: url(../img/green-minus.png);
			&:hover, &:focus{
				background-image: url(../img/green-minus-hover.png);
			}
		}	
	}
	.location-finder {
		width: 366px;
		padding: 15px 20px 20px 20px;
		@include background-opacity($white, 0.8); 
		-webkit-box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.1);   
        box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.1);
		margin-top: 30px;
		h3 {
			text-transform: uppercase;
		}
		p {
			font-size: emCalc(15);
		}
		.arrow-link {
			margin-top: 15px;
		}
		.select-replacement {
			position: relative;
			height: 40px;
			width: 100%;
			background:url(../img/arrow-down-white.png) $green-bright no-repeat 95% 50%;
			 div {
				line-height: 40px;
				position: absolute;
				top: 0;
				left: 20px;
				z-index: 1;
			}
			select {
				width: 100%;
				height: 40px;
				-webkit-appearance: menulist-button;
				z-index: 10;
				position: relative;
				border:none;
				@include avenir-medium;
				option {
					position: absolute;
					top: 20px;
					left: 5px;
					background:$charcoal;
					border-color:$charcoal;
					color:$white;
				}
			}
		}
	}
}

