/* ==========================================================================
   Blockquotes
   ========================================================================== */

.no-image blockquote, blockquote {
	border:none;
	background:url(../img/quote-left.png) no-repeat 20px 30px;
	margin-top:-50px;
	padding-top:20px;
	padding-bottom:30px;
	p{
		color:$black;
		margin:0 0 0 30px;
		line-height:emCalc(20);
		font-size:emCalc(16);
	}
	p:last-child{
		font-weight:bold;
	}
	div{
		background:url(../img/quote-right.png) no-repeat bottom right;
		padding:20px 40px 0 30px;
		margin-bottom:10px;
	}
	div p,	
	div p:last-child{
		font-size:emCalc(18);
		line-height:emCalc(24);
		@include georgia;
		font-style:italic;
		font-weight:normal;
		margin:0 0 15px 0;
	}
}

.blockquote-feature{
	clear: both;
	overflow: hidden;
	margin: 0 0 60px;
	blockquote{
		margin: 0 (-$grid-gutter-width/2);
		background:url(../img/quote-left-white.png) no-repeat 20px 30px;
		@include background-opacity($black, 0.8);
		p{
			color:$white;
			@include avenir-medium;
			font-size:emCalc(16);
		}
		div{
			background:url(../img/quote-right-white.png) no-repeat bottom right;
		}
		height:290px; /* Fixed height because it sits alongside fixed height image on non-responive page */
	}
	.blockquote-image{
		padding:0;
	}
}

/* ==========================================================================
   Panels ( Full width / Hero )
   ========================================================================== */

.bg-panel{ 
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat:no-repeat !important;
	background-position:50% 0 !important;
	background-size: cover !important; 
	/* !important is used above to allow us to set background image inline on html without losing background properties (easier for CMS) */
	/* OLD IE FIX BELOW */
	-ms-behavior: url(../js/backgroundsize.min.htc);
}

.full-width-panel{
	clear:both;
	padding: 50px 0;
	position:relative;
	.panel-title, h4 {
		font-size:emCalc(22);
		text-transform:uppercase;
		margin-bottom:30px;
	}
	.bg-panel {
		/*top: $header-height-large;*/
		bottom: auto;
		height: $bg-panel-height;

		@media (max-width: $screen-xs-max) {
			.responsive & {
				top:-1px;
			}
		}
	}
	.panel-inner{
		position: relative;
		min-width:$screen-sm;
		max-width:($screen-sm-max - ($grid-gutter-width));
		margin:0 auto;

		@media (max-width: $screen-xs-max) {
			.responsive & {
				min-width: 0;
				max-width: $screen-md-min;
			}
		}
	}

	&.charcoal, &.green {
		&.info-bar,
		.panel-right-item{
			&, *, p, a {
				color: $white;
			}
		}
	}

	&.charcoal {
		background-color: $charcoal;
	}

	&.green {
		background-color: $green;
		.arrow-link {
			@include arrow-link-hover-white;
		}
	}

	/*&.grey {
		background: $grey;
		&, *, p, a {
			color: $black;
			border-color: $grey-border-light;
			&:before {
				background-color: $grey-border-light;
			}
		}
	}*/

	.story-tags {
		position: absolute;
		top: 0;
		left: ($grid-gutter-width/2);
		padding-left: 0;
	}
}

.panel-inner-pad {
	padding: $grid-gutter-width ($grid-gutter-width/2);
}

.panel-hero {
	padding-top: $header-height-large / 2;
	padding-bottom: 0;
	// margin-bottom: 40px;
	.row{
		margin:0;
	}

	.bg-panel {
		background-size: auto !important;
		& + .panel-inner {
			margin-top: $header-height-large / 2;
			.panel-headline, .panel-title {
				color: $white;
			}
		}
	}

	@media (max-width: $screen-xs-max) {
		.responsive & {
			padding-top: 50px;
			.bg-panel + .panel-inner {
				margin-top: 0;
			}
		}
	}
}

.panel-hero-headline {
	@extend .panel-hero;
	.bg-panel {
		height: $bg-panel-headline-height;
	}
}

.panel-hero-heading {
	@extend .panel-hero;
	background: $green;
	.row {
		width:100%;
	}
}

.panel-heading-block, .panel-right-item {
	@media (min-width: $screen-tablet) {
		display: table-cell;
		float: none !important;
	}
}

.panel-heading-block {
	@extend .panel-inner-pad;
	padding: 40px 30px 30px;
	background: $white;
	height: 100%; 
	vertical-align: top;

	.underlined {
		@include inline-block;
		border-bottom: 1px solid $grey-border-light;
		padding-bottom: 40px;
		margin-bottom: 20px;
	}
	
	[class*="promo-item"] {
		margin-top: 20px;
		//margin-bottom: 40px;
	}

	.intro-copy {
		padding: 28px 0 0;
		p{
			font-size:$font-size-p;
			line-height:emCalc(20);
			margin-bottom:$paragraph-margin-bottom;
		}
		& + [class*="promo-item"] {
			margin-top: 44px;
			margin-bottom:30px;
		}
	}

	h1{
		margin-bottom:$h1-margin-bottom-small;
		&.image-heading{
			margin-bottom:15px;
		}
	}
}

.panel-right-item {
	vertical-align: bottom;
	padding-top: 2em;
	padding-bottom: 2em;

	.arrow-link {
		@include arrow-link-hover-white;
	}

	@media (min-width: $screen-tablet) {
		padding-top: $bg-panel-height - emCalc(60);
		padding-right: 0;

		.right-item-inner {
			h3{
				font-size:emCalc(18);
				margin:0;
				color:$white;
			}
			// position: absolute;
			// bottom: emCalc(25);
			& > * > [class*="-inner"] {
				margin-left: percentage((1.2 / $grid-columns));
				@include border-opacity($white, 0 0 0 1px, 0.5);
				padding-left: 25px;

				&.no-border {
					padding-left: 15px;
				}
			}
		}
	}
}

/* ==========================================================================
   Homepage Headline
   ========================================================================== */

.panel-headline {
	float:left;
	/* Changed from 1em to 0.9em to scale fonts down to fit properly 
		(difference between web and desktop verisons of avenir */
	font-size:0.89em; 
	position:relative;
	min-height:210px;
	padding-bottom:30px;
	&.row {
		margin:-5px 0 0 0;
		width:100%;
	}
	.heading-divider{
		display:none;
		background:$white;
		width:16%;
		height:2px;
		margin:16px auto 10px auto;
	}
	.headline-text{
		text-align: center;
		font-size:emCalc(60);
		line-height:emCalc(14);
		position: relative;
		display: block;
		padding: 0;
		text-align:right;
		vertical-align:bottom;
		border-right:5px solid $white;
		padding-right:30px;
	}

	.headline-info {
		float:left;
		height:100%;
		text-align: left;
		.text-large,
		.text-small {
			float:left;
			color:$white;
		}
		.text-large {
			font-size:emCalc(120);
			line-height:1.15em;
			line-height:emCalc(16);
			letter-spacing:-10px;
			text-transform:none;
			padding:0 35px 0 10px;
			margin:0;
		}
		.text-small {
			font-size:emCalc(20);
			font-weight:normal;
			line-height:emCalc(18);
			text-transform:uppercase;
			max-width:205px;
			position:absolute;
			bottom:20px;
		}
	}
}

/* ==========================================================================
   Wide Heading Block Variations (Story Landing, Story Listing Brand Pages)
   ========================================================================== */

.panel-heading-wide{
	h1 {
		@include inline-block;
		border-bottom: 1px solid $grey-border-light;
		padding-bottom: 40px;
		margin-bottom: 20px;
	}
	.panel-heading-block{
		padding-bottom:0;
	}
	.promo-items{
		padding-left: 0;
		padding-right: 0;
		margin: 0 (-$grid-gutter-width * 2);
	}
}


/* ==========================================================================
   Info bar
   ========================================================================== */

.info-bar {
	.summary-item {
		.content {
			p {
				font-size: 1em;
			}
			padding: 0;
		}
	}
	.stat-info {
		font-size: 1.05em;
		padding: 0 ($grid-gutter-width - 2);

		@media (min-width: $screen-tablet) {
			& + .stat-info {
				border-left: 1px solid $grey-border-light;
			}
		}
	}
}


/* ==========================================================================
   Summary Items
   ========================================================================== */
.summary-items {
	@media (min-width: $screen-tablet) {
		margin-bottom: -$grid-gutter-width;
	}
}
.summary-item {
	overflow: hidden;
	padding-bottom: $grid-gutter-width;
	
	img {
		float: left;
		width: auto;
	}

	.content {
		overflow: hidden;
		white-space: normal;
		padding-left: $grid-gutter-width;
	}

	.item-inner {
		overflow: hidden;
	}

	&.right-img {
		img {
			float: right;
		}
		.content {
			padding-left: 0;
			padding-right: 15px;
		}
	}

	@media (max-width: $screen-xs-max) {
		.responsive & {
			img {
				width: 100%;
				height: auto;
			}
			.content {
			padding-top: $grid-gutter-width;
				padding-left: 0;
			}
		}
	}

	&.full-img .item-inner {
		background-color: $white;
	}

	&.charcoal, .grey & img + .content,
	.green & img +  .content, .charcoal & img +  .content {
		padding: ($grid-gutter-width);
	}

	&.charcoal {
		background-color: $charcoal;
		&, h4, p, a {
			color: $white;
		}
	}

}

.summary-item, .related-item {
	h4{
		font-size:emCalc(18);
		margin-bottom:emCalc(6);
		text-transform:none;
	}
	p{
		font-size:emCalc(13);
		line-height: 1.5em;
		margin-bottom:emCalc(12);
		@include default-font;
	}
	.arrow-link{
		@include avenir-medium;
		font-size:emCalc(15);
		color:$black;
	}
}

/* ==========================================================================
   Related Items
   ========================================================================== */

.related-items{
	padding:0;
	width:100%;
	margin-bottom: -30px;
	.row{
		margin:0;
	}
}

.related-item {
	padding:0 0 0 $grid-gutter-width;
	.story-tags{
		left:$grid-gutter-width;
	}
	&:first-child{
		padding-left:0;
		.story-tags{
			left:0;
		}
	}
	.item-inner {
		background:$white;
		margin-bottom:20px;
		min-height: 100%;
	}
	h4{
		margin-bottom:emCalc(13);
		text-transform:none;
	}
	div{
		padding:0 30px 15px 20px;
	}
	img{
		margin-bottom:15px;
		width: 100%;
		height: auto;
	}

}

/* ==========================================================================
   Promo Items
   ========================================================================== */
.promo-items {
	@extend .panel-inner-pad;
	background-color: $white;
	overflow: hidden;
	position: relative;

	h3 {
		/*width: 74%; */

		.arrow-link {
			// width: 81%;
			height: 75%;
			color: $black;
			background-size: auto;
			padding-bottom: 5px;
			display: inline;
		}
	}

}

.promo-item {
	.item-inner {
		margin-bottom: 0;
		position: relative;
	}

	.panel-title, h3 {
		text-transform: uppercase;
		line-height: 1.1em;
		font-size: emCalc(26);
		margin-bottom: 0;
	}

	img {
		margin-bottom: 0;
	}
	.story-tags {
		left: 0;
	}

	.content {
		position: absolute;
		bottom: 20px;
		left: 20px;
		width:82%;
		background-color: $white;
		padding: 15px 10px 2px 10px;
		min-height: 132px;

		p {
			line-height: 1.6em;
			font-size: 0.95em;
			margin-bottom: 0;
			padding-top: 0.6em;
			@include default-font;
		}
	}


	&.wide-img {
		background: none;
		.content {
			width: 30%;
		}

		img {
			width: 100%;
		}
	}
		
}

.promo-item-wide {
	@extend .promo-item;

	.row {
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 250px;
	}
	
	.item-content {
		color: $white;

		h3 {
			text-transform: none;
			font-size: emCalc(20);
			margin-bottom: 15px;
		}

		p {
			line-height: 1.4em;
			font-size: emCalc(14);
			font-weight: 300;
		}
		.arrow-link {
			width: auto;
		}
		
		img { 
			padding-top: $grid-gutter-width;
		}
	}
	
	&.charcoal {
		.row {
			margin: 0 ($grid-gutter-width/2);
		}
		.item-inner {
			background-color: $charcoal;
		}
		h3, p, .arrow-link {
			color: $white;
		}
	}	

	@media (min-width: $screen-tablet) {
		.item-content img {
			padding-top: 0;
		}
	}		
}

/* ==========================================================================
   Takeover promo
   ========================================================================== */

.takeover {
	padding-left: $grid-gutter-width;
	padding-right: $grid-gutter-width;
}

.takeover-item {
	background-color: $grey;

	.takeover-title {
		font-size: emCalc(38);
		margin: 35px auto 15px 30px;
	}
	.arrow-link {
		color: $black;
		font-size: 0.9em;
		margin-left: 30px;
		width: auto;
	}

	img {
		width: auto;
		height: auto;
	}

	blockquote {
		margin-top: 10px;
		margin-right: -15px;
		margin-left: -20px;
		padding: 25px 20px 0 20px;

		p {
			font-size: 1em;
		}
		div {
			padding: 20px 40px 0 30px;
			margin-bottom: 5px;
			> p {
				font-size: 1.2em;
				margin-bottom: 0
			}
		}
	}
}

.promo {
	p {
		font-weight: 300;
		font-size:emCalc(14);
	}
}

.promo-heading {
	text-transform: uppercase;
	padding-bottom: 18px;
}
.promo-name {
	@include avenir-regular;
}
.promo-title {
	@include avenir-demi;
}
.promo-img {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

.right-item-inner{
	.promo{
		&, p, .arrow-link {
			color: $white;
		}
	}
}

/* ==========================================================================
   Breadcrumb
   ========================================================================== */

	.bread-crumb{
		margin:0;
		padding:0;
		ul, li{
			@include reset-list;
		}
		ul{
			float:left;
			background:#f5f5f5;
			height:25px;
			position:absolute;
			z-index: 9;
		}
		li{
			float:left;
			padding:0 10px;
			background:url(../img/divider-breadcrumb.gif) no-repeat left 6px;
			@include default-font;
			font-size:emCalc(11);
			line-height:emCalc(28);
			&:first-child{
				margin-left:0;
				background:none;
			}
			a{
				color:$black;
				text-decoration:none;
				&:hover, &:focus {
					text-decoration:underline;
				}
			}
		}
	}

/* ==========================================================================
   Featured Stats
   ========================================================================== */

.featured-stats, .stat {
	.stat-figure, p{
		color:$white;
		font-size:emCalc(14);
		line-height:emCalc(16);
	}
	.stat-figure{
		text-transform: none;
		font-size:emCalc(60);
		letter-spacing:emCalc(-0.75);
		margin:0 auto;
		@include avenir-medium;	
		text-transform:none !important;
	}
	p{
		text-transform:uppercase;
		font-weight:normal;
		font-style:normal;
		margin:0;
		letter-spacing:emCalc(0);
		@include avenir-regular;	
		text-transform:uppercase;
	}
}

/* ==========================================================================
   Story Tags
   ========================================================================== */

.story-tags{
	float:left;
	margin-bottom:50px;
	&.columns.large-6{
		background:none;
		padding:25px 0 130px 0;	
	}
	h3{
		float:left;
		background:$black;
		color:$white;
		margin-bottom:1px;
		font-weight:normal;
	}
	h3, li a{
		@include avenir-medium;
		font-weight:normal;
		font-size:emCalc(12);
		line-height:emCalc(38);
		text-transform:uppercase;
		min-height:32px;
		padding:0 10px;
		text-decoration:none;
	}
	ul{
		clear:both;
	}
	ul,li{
		float:left;
		@include reset-list;
	}
	li{
		position:relative;
		font-size:1em;
	}
	li a{
		margin:0 1px 1px 0;
		background:$green-bright;
		color:$black;
		display:inline-block;
	}
	li a:hover,
	li a:focus{
		color:$white;
		background:$green-dark;
	}
}


/* ==========================================================================
   Footnotes
   ========================================================================== */

.footnotes{
	padding:30px 0 10px 0;
	.row{
		margin:0;
	}
	ol{
		border-top:1px solid $grey-border-light;
		padding-top:15px;
		li{
			font-size:emCalc(11);
			font-style:italic;
			padding:0;
			margin:0;
			color:$charcoal-light;
			@include georgia;
		}
	}
}

/* ==========================================================================
   Brand carousel
   ========================================================================== */

.full-width-panel.brand-carousel {
	.panel-inner {
		max-width: 100%;
	}
}

/* ==========================================================================
   Story Listing
   ========================================================================== */

   .story-listing{
		background:$white;
		min-height:90px;
		margin:-90px ($grid-gutter-width/2) 0 ($grid-gutter-width/2);
		padding:40px 0 0;
		overflow: hidden;

		h3, h4{
			text-transform:uppercase;
			@include avenir-medium;
		}
		h3{
			border-bottom:1px solid $grey-border-light;
			font-size:emCalc(22);
			padding-bottom:26px;
			margin:0 30px 8px 30px;
		}
		h4{
			font-size:emCalc(18);
			margin-bottom:4px;	
			a{
				color:$black;
			}	
		}
		.listing{
			float:left;
			padding:30px 0 10px 0;
			width:100%;
			&:nth-child(odd){
				background:$grey;
			}
			time, img, .content{
				float:left;
			}
			.content{
				width:85%;
			}
			time, img{
				margin:0 20px 20px 0;
			}
			time{
				@include georgia;
				font-style:italic;
				font-size:emCalc(12);
				padding-left:30px;
			}
			p{
				font-size:emCalc(14);
				margin-bottom:12px;
			}
			.story-tags{
				margin:0;
			}
		}
   }

/* ==========================================================================
   Pagination
   ========================================================================== */

	.pagination-container {
		padding:55px 0 60px 0;
		clear: both;
		ul, li{
			@include reset-list;
		}
		ul{
			text-align:center;
		}	
		li{
			display:inline;
			border-bottom:1px solid $grey-border-light;
			padding:0 15px 10px 15px;
			font-size:emCalc(14);
			@include avenir-demi;
			&:first-child{
				padding-left:65px;
			}
			&:last-child{
				padding-right:65px;
			}
			a{
				color:$green-bright;
				text-decoration:none;
				&.active{
					color:$black;
				}
				&:hover, &:focus{
					text-decoration:underline;
				}
			}
		}
	}

/* ==========================================================================
   Recent items (M07)
   ========================================================================== */

.no-border {
	border-left: none !important;
}

.recent-items-heading,
.recent-items-list {
	color: $white;
}

.recent-items-heading {
	font-size:emCalc(18);
	padding-bottom: 14px;
	padding-left: 10px;
}

.recent-items-list {
	list-style-type: none;
	padding: 0;
	li {
		padding: 14px 0 14px 10px;
		margin-bottom: 0;
		position: relative;
		font-size: 1em;
	}
	.item-date {
		font-size: emCalc(12);
		font-family: Georgia, serif;
		display: block;
	}
	.arrow-link{
		display:inline;
	}
}

/* Outside panel-right-item (grey and black colour schemed)*/

.full-width-panel .recent-items{
	float:left;
	width:50%;
}

.full-width-panel .panel-heading-block .recent-items{
	float:left;
	width:100%;
}

.content-page,
.panel-heading-block,
.full-width-panel{
	.recent-items-heading{
		padding:0 0 0 8px;
		margin-bottom:0;
	}
	.recent-items-heading,
	.recent-items-list, 
	.recent-items-list a {
		color: $black;
	}
	.recent-items-list{
		border-bottom: 1px solid $grey-border-light;
		li {
			border-top: 1px solid $grey-border-light;
			&:first-child{
				border:none;
			}
		}
	}
}

.content-page,
.full-width-panel{
	.panel-heading-block{
		.recent-items-heading{
			text-transform:uppercase;
		}
		.recent-items{
			margin:0 0 30px ($grid-gutter-width / -2);
		}
		.recent-items-heading{
			text-transform:uppercase;
		}
	}
}

.panel-heading-wide{
	.panel-heading-block{
		.recent-items{
			margin:0 0 30px ($grid-gutter-width / -1);
		}
	}
}

/* Inside panel-right-item (white colour schemed) */

.panel-right-item .recent-items{
	float:none;
	width:100%;
	color:$white;
	.recent-items-list{
		border-color:$white;
	}
	.recent-items-heading {
		padding-bottom: 14px;
		color: $white;
	}
	a {
		color: $white;
		display: inline;
	}
	li, li:first-child {
		color: $white;
		border-top: 1px solid $white;
	}
}

/* ==========================================================================
   Feature Image (M06)		
   ========================================================================== */

.image-feature{
	overflow: hidden;
	margin: 0 0 60px;
	img{
		width:100%;
	}
	.stat{
		display:block;
		padding:30px 60px 30px 30px;
		.stat-top{
			@include border-opacity($white, 0 0 1px 0, 0.6);
		}
	}
}

/* ==========================================================================
   Iframe	
   ========================================================================== */

iframe{
	width:100%;
}


/* ==========================================================================
   Share Feed (M11)		
   ========================================================================== */

.share-feed{
	margin:40px 0 0 -8px;	
}

/* ==========================================================================
   Tables for Content-type page (P07)	
   ========================================================================== */

table {
	border-top: 2px solid $green-dark;
	border-bottom: 2px solid $green-dark;
	width: auto;
	margin-bottom:20px;
	&.no-border{
		border-top: 2px solid $green-dark !important;
	}
	caption {
		@include kellum-method; 
		text-indent: -9999em;
		display: table-caption;
	}
	thead {
		th, td {
			border-bottom: 1px solid $green-dark;
			background-color: $grey;
			padding: 10px 15px 10px 22px;
		}
	}
	tbody {
		th:first-child {
			font-weight: normal;
		}
		th, td {
			font-size: emCalc(12);
			vertical-align: top;
			padding: 15px 15px 0 15px;
		}
		tr.last {
			th, td {
				padding-bottom: 15px;
			}
		}
	}
}
.no-table-head {
	border-top: 0;
	thead {
		tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	tbody {
		tr:first-child {
			border-top: 2px solid $green-dark;
		}
	}
}
.table-row-border {
	tbody {
		th, td {
			border-bottom: 1px solid $grey-border-light;
			padding: 15px 15px 15px 22px;
		}
	}
}
.one-cols, 
.two-cols, 
.three-cols, 
.four-cols,
.five-cols,
.six-cols {
	width: 100%;
}
.two-cols {
	td, th {
		width: 50%;
	}
}
.three-cols {
	td, th {
		width: 33%;
	}
}
.four-cols {
	td, th {
		width: 25%;
	}
}
.five-cols {
	td, th {
		width: 20%;
	}
}
.six-cols {
	td, th {
		width: 16%;
	}
}

h3  {

	&.upper {
		text-transform: uppercase;
		font-size: emCalc(16);
		margin-top: 18px;
		}
	
}

/* ==========================================================================
   Heritage Timeline	
   ========================================================================== */

.heritage-items{
	padding-top:30px;
}

.heritage-item{
	float:left;
	padding-top:60px;
	margin:30px 0 0 ($grid-gutter-width / -2);
	border-top: 1px solid $grey-border-light;
	h4{
		font-size:emCalc(16);
		text-transform:uppercase;
	}
	.intro-copy{
		padding-top:28px;
	}
	&:first-child{
		border-top:none;
		padding-top:0;
		margin-top:0;
	}
}

/* ==========================================================================
   Section Promos (M28)	
   ========================================================================== */

.section-promos{
	padding-top:30px;
	margin-top:0;
	margin-bottom:-20px;
	.content{
		h3{
			font-size:emCalc(44);
			margin-bottom:8px;
			.arrow-link {
				height: 75%;
				color: $black;
				background-size: auto;
				display: inline;
			}
		}
		h4{
			font-size:emCalc(22);
			text-transform:none;
			margin-bottom:emCalc(10);
		}
	}
	.promo-item{
		margin-bottom:30px;
		&:first-child{
			margin-top:0;
		}
		.content{
			padding:30px;
			width:50%;
			p{
				font-size:emCalc(16);
				line-height:emCalc(18);
			}
		}
		&.col-sm-6{
			.content{
				width:68%;
				padding:20px;
				min-height:115px;
				h3{
					font-size:emCalc(34);
				}
				h4{
					display:none; /* Hidden content because it is easier to do in FE than BE */
				}
				p{
					padding-top:0;
				}
			}
		}
	}
}

/* ==========================================================================
   Accordion
   ========================================================================== */

.accordion {
	margin-top:30px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	.panel {
		margin-bottom: -1px;
		border-top: 2px solid $green-dark;
		border-bottom: 1px solid $green-dark;
		margin-bottom: 30px;
		border-radius: 0;
		box-shadow: none;
		.panel-heading {
			background-color: $grey;
			padding: 10px 15px 10px 22px;
			@include avenir-medium;
			a.panel-toggle {
				font-size: 1.2em;
				text-decoration: none;
				&:hover {
					text-decoration: none;
					color: $black;
				}
				@extend .glyphicon-minus;
				&:before {
					float: right; 
					color: $green-bright;
					font-size: 1.4em;
					line-height: 1em;
					font-weight: bold; 
				}
				&:hover:before {
					color: $green-dark;
					text-decoration: none;
				}
				&.collapsed {
					@extend .glyphicon-plus;
					&:hover {
						color: $green-dark;
						text-decoration: none;
					}
				}
			}
		}

		.panel-body {
			@include avenir-regular;
			margin-bottom: 28px;
			font-size: 0.85em;
			padding: 20px 20px 0 20px;
			ol {
				list-style-type: none;
				padding-left: 0;
				padding-bottom: 0;
				li {
					@include avenir-regular;
				}
				
			}
		}
	}

}
