/* Extra Small devices (mobiles, 767px and down) */
.responsive {
	@media (max-width: $screen-xs-max) {

	/* ==========================================================================
		Mobile Navigation
		========================================================================== */
		
		header{
			.navbar-toggle{
				margin:0;
				padding:9px 20px;
				background:$green;
				border-radius:0;
				height:50px;
				.icon-bar{
					border-radius:4px;
					width:18px;
					height:3px;
				}
				&.open{
					background:$charcoal;
				}
			}
			.navbar-collapse{
				max-height: none;
				border:none;
				padding:0;
				display:none;
				.navbar-nav{
					margin:0;
				}
				li{
					clear:both;
				}
				.close-button{
					float:right;
					background:url(../img/nav-close.png) $charcoal no-repeat -30px 0;
					color:$white;
					width:60px;
					height:50px;
					margin:-28px 0 0 0;
					padding-top:5px;
					text-transform:none;
					text-align:center;
				}
				nav{
					width:100%;
					ul{
						height:auto;
						width:100%;
						li{
							position:relative;
							height:auto;
							margin-bottom:0;
						}
						li:first-child{
							border:none;
						}
						li a{
							display:block;
							min-height:50px;
							font-size:emCalc(14);
							line-height:emCalc(22);
							padding:14px 0 14px 20px;
							color:$green-bright;
							background:$charcoal;
							margin:0;
						}
						li:hover .sub-nav,
						.sub-nav{
							left:0;
							position:relative;
							z-index:9999;
							padding:0;
							width:100%;
							min-height:0;
							display:block;
							.col-md-3,
							.col-md-9{
								width:100%;
								border-top:none;
								padding-right:0;
							}
							.section-heading, img, p{ /* Hide some of the content from mega nav on mobile */
								display:none;
							}
							div{
								padding:0;
								margin:0;
								min-height:0;
							}
							a:hover,
							a:focus{
								background-image:none;
								background:$green-dark;
							}
							ul{
								left:0;
								position:relative;
								z-index:9999;
								width:100%;
								padding:0;
								.row{
									margin:0;
								}
								display:none; /* Hide lower levels */
								.sub-heading{
									margin:0;
								}
								/* 2nd Level */
								li{
									float:none;
									margin:0;
									padding:0;
									width:100%;
									font-size:emCalc(12);
									border:solid $grey-border-nav;
									border-width:1px 0 0 0;
									min-height:0px;
									display:block;
									a{
										color:$white;
										padding:16px 0 14px 30px;
									}
								}
								/* 3rd Level */
								li li{
									margin:0;
									padding:0;
									font-size:emCalc(14);
									display:block;
									a{
										background:#232323;
										font-weight:bold;
										@include avenir-medium;
									}
								}
								/* 4th Level */
								li li li{
									margin:0;
									padding:0;
									font-size:emCalc(14);
									border:none;
									display:block;
									a{
										background:$black;
										@include avenir-medium;
									}
								}
							}
						}
					}
					li{
						float:none;
						border-top:1px solid $grey-border-nav;
						&:first-child{
							/*border:none;*/
						}
						min-height:0;
					}
					li:hover ul{
						/*left:auto;
						display:none;*/
					}
				}
			}
		}
		
		.subnav-toggle{
			display:block;
		}
	}
}