/* ==========================================================================
   IMPORTANT FIX - FOR NAV AND HEADER (REMOVE TO BRING BACK FIXED HEADER & NAV
   ========================================================================== */
	.navbar-fixed-top{
		position:absolute !important;
		@media (max-width: $screen-xs-max) {
			position:fixed !important;	
		}
	}

/* ==========================================================================
   IMPORTANT FIX - Ends
   ========================================================================== */


header {
	height:101px;
	.nav{
		float:left;
		clear:both;
		height:50px;
		width:auto;
		max-width:776px;	
	}
	.nav > ul{
		height:50px;
		margin-left:20px;
		position:relative;
	}
	nav li,
	nav .nav > li{
		float:left;
		height:100%;
		position:static;
		font-size:1em;
		height:50px;
	}
	nav a{
		@include avenir-regular;
		text-transform:uppercase;
		font-weight: 300;
		font-size:emCalc(12);
		line-height:emCalc(65);
		color:$white;
		display:block;
		height:100%;
		padding:0 12px;
		text-decoration:none;
	}
	nav ul > li a:hover,
	nav ul > li a:focus{
		background:url(../img/nav-arrow-down.png) $green-dark no-repeat bottom center;
	}
	nav ul > li a.active,
	nav ul > li a.active:focus,
	nav ul > li a.active:hover{
		color:$white;
		background:url(../img/nav-arrow-active.png) $charcoal no-repeat bottom center !important;
	}
	nav ul > li a:focus{
		color:$white;
	}
	
	/* ==========================================================================
	   Mega Nav Drop Down - Non JS Specific
	   ========================================================================== */
	
	nav{
		float:left;
		position:relative;
	}

	nav ul li .sub-nav{
		left:-9999em;
		display:none;
	}

	nav ul li:hover .sub-nav{
		left:-170px;
		display:block;
	}

	.sub-nav{
		float:left;
		background:$charcoal;
		width:947px;
		padding:42px 30px 30px 30px;
		margin:0;
		position:absolute;
		li li{
			clear:both;
		}
		a{
			padding:0;
			font-size:emCalc(14);
			line-height:emCalc(20);
		}
		a:hover{
			background:none;
		}
		li li a{
			font-size:emCalc(14);
			@include default-font;

		}
		.col-md-9{
			width:60%;
		}
	}
}

/* ==========================================================================
	Mega Nav Drop Down - JS Specific
	========================================================================== */

.js nav .sub-nav,
.js nav li:hover .sub-nav{
	left:-9999em;
	display:none;
}

#mega-nav-panel{
	float:left;
	width:100%;
	height:$nav-height;
	margin-top:$navbar-height;
	background:$charcoal;
	display:none;
	position:relative;
	z-index:99999;
}

#mega-nav-panel .sub-nav{
	width:100%;
	margin:0 auto;
	position:static;
}

#mega-nav-panel .close-button{
	@include avenir-medium;
	background:url(../img/nav-close.png) no-repeat center right;
	color:$white;
	position:absolute;
	bottom:-10px;
	font-size:emCalc(14);
	left:48%;
	display:block;
	width:77px;
	height:33px;
	padding:6px 30px 0 11px;
	z-index:999;
	cursor:pointer;
	text-decoration:none;
	&:hover,
	&:focus{
		text-decoration:underline;
	}
}

.sub-nav{
	padding:42px 0 30px 0;
	max-width:960px;
	.section-heading{
		display:block;
		font-size:emCalc(20);
		margin-bottom:17px;
	}
	a, ul li a{
		color:$green-bright;
		text-transform:uppercase;
		@include avenir-medium;
		text-decoration:none;
	}
	a:hover, ul li a:hover,
	a:focus{
		text-decoration:underline;
	}
	.sub-heading{
		font-size:emCalc(14);
		margin-bottom:8px;
	}
	.col-md-9 ul{
		width:100%;
	}
	/* 2nd Level */
	ul li{
		font-size:emCalc(12);
		margin-bottom:5px;
		a{
			display:block;
			margin-bottom:5px;
		}
		/* 3rd Level */
		li{
			font-size:emCalc(12);
			margin-bottom:4px;
			a,
			a:hover,
			a:focus{
				color:$white;
				@include default-font;
				color:$white;
				text-transform:none;
				margin:0;
			}
			/* 4th Level & 5th Level (Hidden on everything except mobile) */ 
			li, li li{
				display:none;
			}
		}
	}
	ul, li{
		@include reset-list;
	}
	ul li li, p{
		font-size:emCalc(12);
		margin-bottom:4px;
		color:$white;
		@include default-font;
	}
	img{
		margin-bottom:20px;
	}
	.row{
		margin-bottom:16px;
	}
	li{
		padding:0 30px 0 0;
	}
	.col-md-3 li{
		border-left:1px solid $grey-dark;
		min-height:280px;
		padding:0 0 20px 20px;
		margin-bottom:20px;
	}
}

.subnav-toggle{
	@include kellum-method;
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:50px;
	width:60px;	
	background:url(../img/mobile-plus.png) no-repeat center center;
	background-color:$grey-nav-toggle;
	&.open{
		background-image:url(../img/mobile-minus.png);
	}		
}

/* ==========================================================================
	Right Nav
	========================================================================== */

.right-nav{
	background:grey;
	ul, li{
		@include reset-list;
		width:100%;
	}
	/* 1st Level */
	li{
		float:left;
		width:100%;
		@include avenir-demi;
		text-transform:uppercase;
		font-size:1em;
		a{
			background:$green-dark;
			color:$white;
			display:block;
			font-size:emCalc(14);
			padding:15px 20px;
			border:solid $green;
			border-width:0 1px 0 1px;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
			}
		}
		/* 2nd Level */
		li{
			a{
				background:$charcoal;
				color:$white;
				font-size:emCalc(12);
				border-color:$charcoal;
				border-bottom:1px solid $grey-border-nav;
				&.active{
					background:$white;
					color:$black;	
					border-bottom:1px solid $grey-border-light;				
				}
			}
			&.active > a{
				background:$white;
				color:$black;	
				border-color:$grey-border-nav-right;
				border-bottom:1px solid $grey-border-light;	
			}
			/* 3rd Level */
			ul{
				float:left;
				border-bottom:1px solid $grey-border-light;
			}
			li{
				float:left;
				text-transform:none;
				padding:0 0 15px 20px;
				&:first-child{
					padding-top:15px;
					padding-bottom:15px;
				}
				border:solid $grey-border-nav-right;
				border-width:0 1px 0 1px;
				a{
					font-size:emCalc(11);
					border:none;
					padding:0;
					display:inline-block;
					background:none;
					color:$black;
				}
			}
		}
	}

}

/* ==========================================================================
   Access keys
   ========================================================================== */

	.access-keys{
		float:left;
		width:100%;
		position:absolute;
		padding:0;
		margin:0;
		ul, li{
			@include reset-list;
		}
		li{
			float:left;
			width:100%;
			position:relative;
			font-size:1em;
		}
		a{
			width:auto;
			min-height:50px;
			display:block;
			width: 100%;
			text-align:center;
			position:absolute;
			top:0;
			left:0;
			@include avenir-medium;
			text-transform:uppercase;
			font-size:emCalc(18);
			line-height:emCalc(40);
			background:$white;
			z-index:0;
			&:focus{
				z-index:999999;
				text-decoration:none;
			}
		}
	}