/* ==========================================================================
   Content Page
   ========================================================================== */

.content-page{
	padding-top:135px;
	clear:both;
	margin-left: auto;
    margin-right: auto;
	.row{
		padding-bottom:30px;
		margin:0 ($grid-gutter-width / -1);;
		.row{
			margin-left: ($grid-gutter-width / -2);
			margin-right: ($grid-gutter-width / -2);
		}
	}
	.inline-image{
		margin-top:20px;
		margin-bottom:20px;
		max-width:100%;
		height:auto;
	}
	.arrow-link{
		font-weight:bold;
	}
}

/* ==========================================================================
	Episerver .arrow-link rich text editor fix
	========================================================================== */

p.arrow-link{
	float:left;
	clear:left;
	background:none;
	padding-right:0;
	clear:both;
	a{
		@include arrow-link;
		background-position:right 4px !important;
		font-weight:bold;
	}
}

/* ==========================================================================
   Press Release Content Page
   ========================================================================== */

.press-release{
	@include lowercase-h1;
}

.release-date{
	margin:25px 0 20px 0;
}