/* ==========================================================================
   Story Page
   ========================================================================== */

body, html {
	width:100%;
	height:100%;
	color: $black;
}

.story{	
	/*margin-top:$navbar-height;*/
	.row{
		margin:0;
	}
}

.story-chapter{
	float:left;
	width:100%;
	min-height:100%;
	position:relative;
	padding-top:50px;
	margin-top:-1px; /* Fix for chrome - pixel gap between fullscreen backgrounds */
	.story-category{
		border-bottom:2px solid $green;
		text-transform:uppercase;
		color:$green;
		font-size:emCalc(14);
		padding-bottom:5px;
		margin-bottom:22px;
		@include avenir-medium;
	}
	.content-wrapper{
		max-width:992px;
	}
	h2{
		font-size:emCalc(44);
		line-height:emCalc(14.5);
		margin-bottom:8px;
		text-transform:uppercase;
	}
	h3{
		font-size:emCalc(22);
		margin-bottom:16px;
	}
	.row{
		margin:0;	
	}
	section{
		background:$white;
		padding:emCalc(30);
		margin-bottom:50px;
		.brand-logo{
			margin-bottom:40px;
		}
	}
	.featured-stats{
		margin-top:-48px; /* Offsets the margin bottom on the section in story and leaves 2px gap */
		margin-bottom:50px;
	}
	.featured-stats-inner {
		position: relative;
		@include background-opacity($green, 0.8);
		border-right: 1px solid transparent;
		background-clip: padding-box !important;
		& + .featured-stats-inner {
			border-left: 1px solid transparent;
			border-right: none;
		}
	}
	.stat-inner {
		padding:30px;
		.stat-figure{
			font-size:emCalc(50);
			line-height:emCalc(16);
			margin-left:-5px;
		}
		p{
			font-size:emCalc(16);
			line-height:emCalc(15);
			@include avenir-medium;
		}
	}
	.stat-by {
		display: none;
		@include background-opacity($green, 0.8);
		padding: 10px;
		font-size: emCalc(12);
		font-style: italic;
	}
	&.no-image{
		background:$white;
		h2{
			font-size:emCalc(22);
			text-transform:none;
			margin-bottom:16px;
		}
		section{
			background:none;
		}
		.story-brand-image{
			margin-top:40px;
		}
		.featured-stats{
			padding-left:30px;
		}
	}
	&.no-image blockquote, blockquote{
		background:url(../img/quote-left-white.png) no-repeat 20px 30px;
		margin-bottom:40px;
		@include background-opacity($black, 0.8);
		p{
			color:$white;
		}
		div{
			background:url(../img/quote-right-white.png) no-repeat bottom right;
		}
	}
	&.no-image blockquote{
		margin-top:-50px; /* Bring panel back up because it looks like a big gap on the green background with no white panel */
	}
	.story-tags{
		margin-top:35px;
		padding-left:($grid-gutter-width / 2);
		width: 50%;
		h3{
			font-size:emCalc(12);
			margin-bottom:1px;
			color:$white;
		}
	}
}

.story-nav{
	position:fixed;
	bottom:0;
	right:0;
	z-index:999;
	ul,li{
		@include reset-list;
	}
	li{
		position:relative;
		display:none;
		&.next-story{
			display:block !important;
		}
		a{
			@include kellum-method;
			display:block;
			background:url(../img/nav-story.png) no-repeat 0 -67px;
			width:69px;
			height:67px;
		}
		&:first-child a{
			background-position:0 0;
		}
	}
	.popout{	
		@include background-opacity($white, 0.9);	
		font-size:emCalc(12);
		position:absolute;
		top:0;
		left:-180px;
		min-width:180px;
		height:67px;
		padding-right:8px;
		display:none;
		li{
			display:block;
			@include avenir-medium;
			text-transform:uppercase;
			padding:0 20px;
			font-size:emCalc(18);
			line-height:emCalc(58);
			color:$charcoal;
		}
	}
	li:hover .popout{
		display:block;
	}
}