/* ==========================================================================
   Landing Page Explore Section Module
   ========================================================================== */

.explore {
	.row{ 
		padding: 0;
	}
	li {
		text-indent: 0;
		list-style-type: none;
		margin-bottom:0;
		img{
			border:solid $grey-border-light;
			border-width:1px 1px 0 1px;
		}
	}
}

.explore-item {
	/*padding-right: 20px;*/
	font-size:1em;
	h4 {
		font-size: 1.1em;
		padding: 10px 20px 8px 20px;
		margin-bottom:0;
		background-color: #333;
		text-transform: uppercase;
		.arrow-link {
			display: inline-block;
  			width: 100%;
  			color: #FFF;
  			line-height: 1em;
  			padding-bottom: 0;
		}
	}
	p {
		margin-top: 14px;
		font-size:emCalc(14);	
		@include default-font;
	}
}

.explore-links {
	margin: 0;
	padding: 0 0 35px;
  	float: none !important;
  	clear: both;
}

.explore-link {
	font-size: 0.9em;
	a {
		@include avenir-medium;
		color: #000;
		text-decoration: underline;
		line-height: 1.8em;
		display: block;
	}
}