/* ==========================================================================
   Brand Page
   ========================================================================== */

.brand-page{
	padding-top:0;
	margin-bottom:20px;
	clear:both;
	margin-left: auto;
    margin-right: auto;
	@include lowercase-h1;
	h1{
		border-bottom:1px solid $grey-border-light;
		padding-bottom:30px;
		margin-bottom:25px;
	}
	.intro-copy{
		padding-bottom:30px;
	}
	.bg-panel{
		top: -51px;
	}
	.supplementary-text{
		margin-bottom:40px;
		padding-left:20px;
	}
}