@charset "CP850";

@import "compass";
@import "sass-bootstrap/lib/variables";
@import "layout";

/* ==========================================================================
   Internet Explorer 7 Specific Fixes
   ========================================================================== */

/* ==========================================================================
   Header / Nav
   ========================================================================== */

header{
	.header-inner{
		width:$screen-desktop;
		max-width:$screen-desktop;
	}
	.header-top{
		width:822px;
		.share-heading{
			padding-left:325px;
		}
		.share-feed{
			height:46px;
			width:380px;
			div{
				height:34px;
			}
		}
	}
	.navbar-collapse{
		clear:none;
		width:822px;
		padding:0;
	}
	.navbar-nav > li > a{
		padding-top:0;
		padding-bottom:0;
	} 
	.navbar-default{
		height:101px;
	}
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:none;
}

#mega-nav-panel{
	z-index:99999;
	.close-button{
		background:url(../img/nav-close.png) no-repeat 0 0;
	}
	.sub-nav{
		max-width:$screen-desktop;
		.col-md-3,
		.col-md-9{
			padding-right:0;
		}
		.sub-sub-nav{
			width:100%;
		}
	}
}

.promo-items {
	clear: both;
	.promo-item {
		width: 30%;
		display: inline-block;
		float: left;

	}
	h4 {
		width: 74% !important;
	}
}

.accordion {
	a.panel-toggle {
		&:hover {
			text-decoration: none;
		}

	}
}
.promo-item-wide {
	.row {
		min-height: 200px;
		.col-md-6 {
			width: 45%;
			img {
				padding-top: 0;
			}
		}

	}
}