//
// WaleA3
// Author: Adewale Adeyemi
// Non-Responsive styles
// --------------------------------------------------

@import "compass";
@import "sass-bootstrap/lib/variables";
@import "layout";

/* Account for fixed navbar */
body, html {
	min-width: $screen-desktop;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container - Add any custom containers here also */
.container{
  max-width: none !important;
  width: $screen-desktop;
}

// /* Undo the collapsing navbar */
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}


/* Grid */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 {
	float: left;
}
.col-xs-12 { width: auto; }
.col-sm-1, .col-md-1, .col-lg-1  { width: percentage((1 / $grid-columns)); }
.col-sm-2, .col-md-2, .col-lg-2  { width: percentage((2 / $grid-columns)); }
.col-sm-3, .col-md-3, .col-lg-3  { width: percentage((3 / $grid-columns)); }
.col-sm-4, .col-md-4, .col-lg-4  { width: percentage((4 / $grid-columns)); }
.col-sm-5, .col-md-5, .col-lg-5  { width: percentage((5 / $grid-columns)); }
.col-sm-6, .col-md-6, .col-lg-6  { width: percentage((6 / $grid-columns)); }
.col-sm-7, .col-md-7, .col-lg-7  { width: percentage((7 / $grid-columns)); }
.col-sm-8, .col-md-8, .col-lg-8  { width: percentage((8 / $grid-columns)); }
.col-sm-9, .col-md-9, .col-lg-9  { width: percentage((9 / $grid-columns)); }
.col-sm-10, .col-md-10, .col-lg-10 { width: percentage((10/ $grid-columns)); }
.col-sm-11, .col-md-11, .col-lg-11 { width: percentage((11/ $grid-columns)); }
.col-sm-12, .col-md-12, .col-lg-12 { width: 100%; }

/* LBG.com specific - Cancelling of responsive css*/

/* ==========================================================================
   Custom Containers
   ========================================================================== */

.full-width-panel .panel-inner, .header-inner, .footer-inner {
  max-width: none !important;
  width: $screen-desktop;
  margin:0 auto;
}

.bg-panel {
	width: 100%;
	min-width: $screen-desktop;
}

/* ==========================================================================
   Header
   ========================================================================== */

	header{
		.header-top{
			max-width: none !important;
			width: auto;
			.price-info{
				display:none !important;
			}
		}
		.navbar-fixed-top{
			position:absolute !important;
			.navbar-header{
				display:none !important;
			}
			.navbar-nav{
				margin:0;
			}
			.close-button{
				display:none !important;
			}
		}
	}

/* ==========================================================================
   Mega Nav
   ========================================================================== */

	#mega-nav-panel{
		min-width: $screen-desktop;
	}

/* ==========================================================================
   Landing Page
   ========================================================================== */

		.panel-heading-block, .panel-right-item {
				display: table-cell;
				float: none !important;
		}

		.panel-right-item {
			padding-top: $bg-panel-height - emCalc(60);
			padding-right: 0;
			.right-item-inner {
				& > * > [class*="-inner"] {
					margin-left: percentage((1.2 / $grid-columns));
					@include border-opacity($white, 0 0 0 1px, 0.5);
					padding-left: 25px;
					&.no-border {
						padding-left: 15px;
					}
				}
			}
		}


   	/* ==========================================================================
	   Landing Page Explore Section Module
	   ========================================================================== */
   
   .right-nav{
		display:block !important;
   }

/* ==========================================================================
   Landing Page
   ========================================================================== */

	/* ==========================================================================
	   Landing Page Explore Section Module
	   ========================================================================== */

	.explore {
		.row {
			margin:0;
		}
	}
