---
page-title: " - M14 - Content Page Template"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-8 col-md-8">
                	    <h1>Financial performance</h1>
                        <h2>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</h2>
                        <div class="intro-copy">
                            <p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p> 
                        </div>
						<p>Once regulatory requirements have been clearly defined and we have prudently met them, and the financial position of the Group and market conditions permits, it is our intention to recommence dividend payments.</p>
						<img src="img/sample/img-content.jpg" alt="Lorem ipsum dolor sit amet" class="inline-image"/>
                        <h3>Neque porro quisquam:</h3>
                        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus temporibus autem quibusdam et aut.</p>
					    <p>Saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                        <h3>SEC Filings</h3>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        <h3>Annual Reports</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {{> right-nav}}
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		{{> panel__related-items content.common.panels.related-items}}
