---
page-title: " - P07 Content Table Content"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <h1>Site Terms and Conditions</h1>
                        <div class="row">
                            <p>To view our Terms and Conditions or any other legal information, please click below.</p> 
                            <p><strong>www.lloydsbankinggroup.com(the "Website") IS AN OFFICIAL WEBSITE OF LLOYDS BANKING GROUP PLC ("we" or "us").</strong> The Lloyds Banking Group includes a number of other companies using brands including Lloyds TSB, Halifax and Bank of Scotland and their associated companies. More information on the Lloyds Banking Group can be found at www.lloydsbankinggroup.com(the "Website").</p>
                            <p>YOU SHOULD READ THESE TERMS AND CONDITIONS ("TERMS") CAREFULLY BEFORE USING THE WEBSITE. USING THE WEBSITE INDICATES THAT YOU ACCEPT THESE TERMS REGARDLESS OF WHETHER OR NOT YOU CHOOSE TO REGISTER WITH US. IF YOU DO NOT ACCEPT THESE TERMS, DO NOT USE THE WEBSITE. YOU SHOULD ALSO READ THE CONDITIONS ABOUT EACH SERVICE ON THIS WEBSITE.</p>
                            <p>Last updated January 2009</p>
                        </div>
                        <div class="row">
	                     	<!-- Accordion Starts -->
							<div class="panel accordion panel01">
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle">1. INTRODUCTION</a>
						            </div>
						            <div class="panel-collapse collapse in">
						                <div class="panel-body">
						                    <ol>
						                    	<li>1.1 You may access most areas of the Wesite without registering your details with us. Certain areas of the Website may require you to register.</li>
						                    	<li>1.2 By accessing any part of the Website, you shall be deemed to have accepted this legal noticed in full. If you do not accept this legal notice in full, you must leave the Website immediately.</li>
						                    	<li>1.3 We may revise this legal notice at any time by updating this posting. You should check the Website from time to time to review the then current legal notice, because it is binding on you. Certain provisions of this legal notice may be superseded by expressly designated legal notices or terms located on particular pages of the Website.</li>
						                    </ol>
						                </div>
						            </div>
						        </div>    
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">2. LICENCE</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">3. SERVICE ACCESSS</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" data-parent=".panel01" data-toggle="collapse" class="panel-toggle collapsed">4. VISITOR MATERIAL AND CONDUCT</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">5. LINKS TO AND FROM OTHER WEBSITES</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">6. REGISTRATION</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">7. DISCLAIMER</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" data-parent=".panel01" data-toggle="collapse" class="panel-toggle collapsed">8. LIABILITY</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">9. GOVERNING LAW AND JURISDICTION</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						        <div class="panel">
						            <div class="panel-heading">
						                <a href="#" class="panel-toggle collapsed">10. REGISTERED OFFCE</a>
						            </div>
						            <div class="panel-collapse collapse">
						                <div class="panel-body">
						                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						                    cillum dolore eu fugiat nulla pariatur. Excepteur sint <a href="#">occaecat</a> cupidatat non
						                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						                </div>
						            </div>
						        </div>
						    </div>
						    <!-- Accordion Ends -->
					    </div>
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		        
       {{> panel__related-items  content.common.panels.related-items}}