---
layout: responsive.hbs
page-title: " - P01 Home Page (Takeover) template"
---

		{{> panel__promo-items--takeover content.P01.panels.takeover}}
		{{> panel__info-bar content.common.panels.info-bar-charcoal}}
		{{> carousel }}
		{{> panel__related-items content.common.panels.related-items}}
		{{> panel__map }}

		{{> panel__two-col-modules }}

		{{> panel__footnotes}}
