---
layout: responsive.hbs
page-title: " - Story Page Template"
---

		{{> story-chapters content.story-page.stories}}
        {{> panel__related-items content.common.panels.related-items}}
        {{> panel__footnotes}}
