---
page-title: " - Content Page Template"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-8 col-md-8">
                	    <h1>Financial performance</h1>
                        <div class="intro-copy">
							<p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p>
                        </div>
                        <p>Lloyds Banking Group is firmly committed to being a great place for women to bank and work and we have a robust programme in place to ensure that we are best placed to achieve this.</p>						<p>Internally, our programme to support the development of women includes:</p>
						<img src="img/sample/img-content.jpg" alt="Lorem ipsum dolor sit amet" class="inline-image"/>
                        <h3>Women on the Board</h3>
                        <ul>
							<li>We welcomed and support the Lord Davies Reviews, which recommended a target of 25% female representation on the board by 2015.  Currently 3 of our 10 Board members are women.</li>
						</ul>
                        <h3>Visible executive leadership</h3>
                        <ul>
							<li>Our commitment to gender diversity is led from the top.</li>
							<li>Our Chairman, Sir Win Bischoff is a staunch advocate of gender diversity and a founding member of the 30% Club - an initiative that encourages UK companies to aim higher than the Davies Review target - with a goal of at least 30% female representation on boards by 2015. He is also on the Advisory Council for the FTSE 100 Cross-Company Mentoring Foundation, which supports women to become Non-Executive Directors.</li> 
							<li>Our Group Chief Executive, Ant&oacute;nio Horta-Os&oacute;rio, has written to all senior leaders across the Group emphasising the importance of the diversity agenda and his expectations that our leadership will be supportive and take action.</li> 
							<li>And this year, our Group Executive committee have each agreed to a business goal of increasing the number of senior women in their area of the business. </li>
						</ul>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6">
										<p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p>				
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
										<img src="http://placehold.it/550x550"/>	
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6">
										<img src="http://placehold.it/550x550"/>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6">
										<p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p>
										<p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p>
										<p>We strengthened our capital position during 2012 despite provisions and charges for regulatory issues. As we stated in 2011, we remain committed to restarting dividend payments as soon as we are able, and fully understand the difficulties that their absence is causing our shareholders.</p>
									</div>
								</div>
							</div>
						</div>
                        <h3>Developing the Female Talent pipeline</h3>
                        <ul>
							<li>We have a Senior Women Leaders Programme.</li>
							<li>Additional  targeted support for women on our senior management talent programmes</li> 
							<li>Mandatory diverse shortlists for senior appointments</li> 
							<li>A high profile women's network called Breakthrough to provide support and networking opportunities for women across the Group</li>
						</ul>
                        <h3>Sourcing External Female Talent</h3>
                        <ul>
							<li>We work closely with our resourcing partners to ensure that we are able to attract the best female talent and we have mandatory diverse for senior appointments.</li>
						</ul>
                        <h3>Being a Great Place to Work</h3>
                        <ul>
							<li>Diversity is one of the core values of our employer brand.</li>
							<li>We are rolling out an unconscious bias programme across all grades of colleagues.</li>
						</ul>
                        <h3>Test ordered List</h3>
                        <ol>
							<li>Test item 1</li>
							<li>Test item 2</li>
							<li>Test item 3</li>
							<li>Test item 4</li>
						</ol>
						<p>Externally, we have sponsored the First Women Awards for 8 years. Established in 2005 with the CBI, these awards celebrate trailblazing and pioneering women in business that are genuine "glass ceiling breakers". The awards aim to unearth women whose achievement and individual actions have helped and are helping to remove barriers and open up opportunities for other women to follow.</p>						<p>We are proud that all of this activity has resulted in Lloyds Banking Group being awarded a place in the Times Top 50 Employers for Women in 2012 and 2013</p>
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		{{> panel__related-items  content.common.panels.related-items}}
		