---
page-title: " - P07 Content Table Content"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h1>Covered Bond Programmes</h1>
                        <div class="intro-copy">
                            <p>We use a number of covered bond programmes as part of our funding and capital management activities. More information about the various programmes, including prospectuses and monthly reports, can be obtained by clicking on the links below.</p> 
                        </div>
                        <p>The Financial Conduct Authority Regulated Covered Bonds Register can be accessed by following this link <a href="#" ><abbr title="Financial Conduct Authority Regulated Covered Bonds">FCA RCB</abbr> Register</a>.</p>
                        <p>To request access to key transaction documents for the following programmes please follow this link <a href="#">Covered Bond Transaction Documents</a>.</p>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								{{> 2col-rowborder}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<h2>Lloyds Bank plc Global Covered Bond Programme (formerly known as Lloyds TSB Bank plc)</h2>
								<h3 class="upper">Prospectus</h3>
								{{> 1col-rowborder}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
									<h3 class="upper">Investor Reporting</h3>
								<p>We use a number of covered bond programmes as part of our funding and capital management activities. More information about the various programmes, including prospectuses and monthly reports, can be obtained by clicking on the links below.</p>
								<p>Excel versions are available through the <a href="#">Covered Bond Transaction Documents</a> data room.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								{{> 3col-noborder}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<h3 class="upper">Transactions</h3>
								{{> 3col-noborder-3}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<h2>Bank of Scotland plc Residential Mortgage Covered Bond Programme</h2>
								{{> 1col-rowborder-2}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								{{> 5col-rowborder}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<h3 class="upper">Investor Reporting</h3>
								{{> 3col-noborder-2}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
									<h2>Bank of Scotland plc Social Housing Loan Covered Bond Programme</h2>
									<h3 class="upper">Transactions</h3>
								{{> 5col-rowborder-2}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
									<h3 class="upper">Investor Reporting</h3>
								{{> 5col-rowborder-no-head}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
									<h3 class="upper">6 row table with border</h3>
								{{> 6col-rowborder}}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
									<h3 class="upper">4 row table with no border</h3>
								{{> 4col-noborder}}
							</div>
						</div>
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		        
       {{> panel__related-items  content.common.panels.related-items}}