---
page-title: " - P13 - Press Release Template"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page press-release">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-8 col-md-8">
						{{> press-release-content content.P13.content}}
					</div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {{> right-nav}}
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		{{> panel__related-items content.common.panels.related-items}}
