---
page-title: " - P14 - Heritage Page Template"
---

		<!-- Central Content Starts -->
        <div class="container">
            <article class="content-wrapper content-page">    
                <div class="row"> 
                    <div class="col-xs-12 col-sm-8 col-md-8">
                	    <h1>Timeline</h1>
						{{> heritage-items content.P14.heritage-items}}
					</div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        {{> right-nav}}
                    </div>
                </div>
            </article>
        </div>
		<!-- Central Content Ends -->
		{{> panel__related-items content.common.panels.related-items}}
