<!-- Image Feature Starts-->
<div class="blockquote-feature">
  <div class="row">
    {{> story-chapter-quote quote}}
    <div class="blockquote-image col-sm-6 col-md-6 equal-height">
      <img src="{{image.path}}" alt="{{{image.alt}}}"/>
    </div>
  </div>
</div>
<!-- Image Feature Ends-->
