<!-- Breadcrumb Starts -->
<div class="full-width-panel bread-crumb">
  <div class="panel-inner">
      <ul>
        <li>
          <a href="#" title="Home">Home</a>
        </li>
        <li>
          <a href="#" title="Our Purpose">Our Purpose</a>
        </li>
        <li>
          <a href="#" title="Households">Households</a>
        </li>
      </ul>
  </div>
</div>
<!-- Breadcrumb Ends -->