<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="panel-headline row">
      <h1 class="headline-text col-xs-12 col-sm-6">{{{ text }}}</h1>
      <div class="heading-divider"></div>
      <div class="headline-info col-xs-12 col-sm-6">
        <div class="info-inner">
          <h2 class="text-large">85m</h2>
          <span class="text-small">Invested across UK communities in 2012</span>
        </div>
      </div>
    </div>
  </div>
</div>