	
	<div class="promo {{ item-class }}">
		<div class="promo-inner">
			<h3 class="promo-heading">{{{ heading }}}</h3>
			<img src="{{ img-src }}" alt="{{ img-alt }}" class="promo-img">
			<div class="promo-content">
				<span class="promo-name">{{{ name }}}</span><br>
				<strong class="promo-title">{{{ title }}}</strong>
				{{{ body }}}
			</div>
			<a href="{{ link-url }}" class="arrow-link">{{{ link-title }}}<span class="icon-Arrow"></span></a>
		</div>
	</div>
