  {{#if wide-img }}
    <div class="promo-item wide-img col-xs-12 col-sm-12 col-md-12">
  {{else}}
    <div class="promo-item col-xs-12 col-sm-4 col-md-4">
  {{/if}}
        <section class="item-inner">
            {{#if story-tag}}
            <div class="story-tags">
                <ul>
                    <li>
                        <a href="{{ story-url }}" title="{{{ story-tag }}}">{{{ story-tag }}}</a>
                    </li>
                </ul>
            </div>
            {{/if}}
            {{#if img-src }}<img src="{{ img-src }}" alt="{{{ img-alt }}}"/>{{/if}}
            <div class="content">
                <h3><a href="{{ link-url }}" title="{{{ content-title }}} - Read story" class="arrow-link">{{{ content-title }}}<span class="icon-Arrow"></span></a></h3>
                {{{ content-body }}}
            </div>
        </section>
    </div>
