  {{#if section-promos}}
	  <article class="full-width-panel section-promos">
      <div class="panel-inner">
        <div class="row">
  {{else}}
    <div class="promo-items">
      <div class="row">
  {{/if}}
          {{#each items}}
          {{#if this.item-wide}}
          {{> promo-item--wide .}}
          {{else}}
          {{> promo-item .}}
          {{/if}}
          {{/each}}


  {{#if section-promos}}
        </div>
      </div>
    </article>
  {{else}}
        </div>
      </div>
  {{/if}}
