
	<div class="promo-item-wide {{ item-class }}">
		<section class="item-inner">
			<div class="row">
			    <div class="item-content col-xs-12 col-sm-6 col-md-6">
		    		<h3>{{{ content-title }}}</h3>
		    		{{{ content-body }}}
		    		<a href="{{ link-url }}" class="arrow-link" title="{{{ link-title }}} - read the story">{{{ link-title }}}<span class="icon-Arrow"></span></a>
			    </div>
			    <div class="item-content col-xs-12 col-sm-6 col-md-6">
			    	<img src="{{ img-src }}" alt="{{{ img-alt }}}"/>
			    </div>
		    </div>
		</section>
	</div>
