<!-- Recent item Starts -->
<div class="recent-items">
	<div class="recent-items-inner no-border">
		<h3 class="recent-items-heading">{{{ heading }}}</h3>
		<ul class="recent-items-list">
			{{#each items}}
			<li>
				<em class="item-date">{{date}}</em>
				<a href="{{ link-url }}" class="arrow-link">{{{ link-title }}}<span class="icon-Arrow"></span></a>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
<!-- Recent item Ends -->