<!-- Stat Module Starts -->
	<div class="stat {{ item-class }}">
		<div class="stat-inner">
		{{#if stat-info-top }}
			<div class="stat-top">{{{ stat-info-top }}}</div>
		{{/if}} 
			<span class="stat-figure">{{{ stat-figure }}}</span> 
			{{{ stat-info-bottom }}}
		</div>
	</div>
<!-- Stat Module Ends -->
