
	<div class="related-item col-xs-12 col-sm-4 col-md-4 equal-height">
		<section class="item-inner">
		    {{#if story-tag}}
	        <div class="story-tags">
	            <ul>
	                <li>
	                    <a href="{{ story-url }}" title="{{{ story-tag }}}">{{{ story-tag }}}</a>
	                </li>
	            </ul>
	        </div>
	        {{/if}}
		    {{#if img-src }}<img src="{{ img-src }}" alt="{{{ img-alt }}}"/>{{/if}}
		    <div>
		        <h4>{{{ content-title }}}</h4>
		        {{{ content-body }}}
		        <a href="{{ link-url }}" title="Read story" class="arrow-link">Read story<span class="icon-Arrow"></span></a>        
		    </div>
		</section>
	</div>
	