
	<div class="col-sm-6 col-md-6">
    <blockquote>
        <div>
            {{{ quote-body }}}
        </div>
        <p>{{{ quote-by }}}</p> 
        <p>{{{ quote-position }}}</p>
    </blockquote>
  </div>