    <li>
      <a href="#{{story-id}}" title="Click here to read the next part of the story">Click here to read the next part of the story</a>
      <ul class="popout">
        <li>{{story-type}}</li>
      </ul>
    </li>