
            <!-- Story Chapter Starts -->
            <div class="story-chapter {{#unless story-bg }}no-image{{/unless}}" id="{{ story-id }}" data-type="{{ story-type }}">
                {{#if story-bg }}
                <div class="bg-panel" style="background:url({{ story-bg }});"><!-- --></div>
                {{/if}}
                <article class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                    	    <section>
                              {{#if brand-logo }}
                                <img src="{{{brand-logo}}}" alt="{{{story-title}}}" class="brand-logo"/>
                              {{/if}}
                              {{#if story-category }}
                                <div class="story-category">{{{ story-category }}}</div>
                              {{/if}}
                              <h2>{{{ story-title }}}</h2>
                              {{#if story-title-sub }}
                                  <h3>{{{ story-title-sub }}}</h3>
                              {{/if}}
                              {{{ story-body }}}
                            </section>
                        {{#if stats}}
                            <div class="row featured-stats">
                                {{> stats-container stats}}
                            </div>
                        {{/if}}
                        </div>
                        {{#unless story-bg }}
                          <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 story-brand-image">
                            <img src="{{{story-img}}}" alt="{{{story-title}}}" />
                          </div>
                        {{/unless}}
                    </div>
                {{#if quote}}
                    <div class="row">
                        {{> story-chapter-quote quote}}
                    </div>
                {{/if}}
                </article>
    	    </div>
          <!-- Story Chapter Ends -->
