
    <div class="summary-item {{ item-class }}">
        <section class="item-inner">
            {{#if img-src }}<img src="{{ img-src }}" alt="{{{ img-alt }}}"/>{{/if}}
            <div class="content">
                <h4>{{{ content-title }}}</h4>
                {{{ content-body }}}
                <a href="{{ link-url }}" title="{{{ content-title }}} - Read story" class="arrow-link">{{{ link-title }}}<span class="icon-Arrow"></span></a>
            </div>
        </section>
    </div>
