<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{{ site.title }}{{ page-title }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <!-- build:css({.tmp,app}) css/main.css -->
        <link href="css/main.css" rel="stylesheet" media="screen">
        <!-- endbuild -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if IE 8]>
            <script src="js/lib/html5shiv.js"></script>
            <script src="js/lib/respond.min.js"></script>
            <link href="css/ie8.css" rel="stylesheet" media="screen">
        <![endif]-->

        <!--[if IE 7]>
            <script src="js/lib/html5shiv.js"></script>
			<script src="js/ie7-font.js"></script>
            <link href="css/non-responsive.css" rel="stylesheet" media="screen">
            <link href="css/ie7.css" rel="stylesheet" media="screen">
        <![endif]-->
    </head>
    <body class="responsive">
        {{> header}}
		<!-- Main Content (With ID for access keys) Starts -->
		<div id="main-content">
			{{> body}}
			{{> footer}}
		</div>
		<!-- Main Content (With ID for access keys) Ends -->
        <!-- build:js js/lib/lbg_vendors.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/sass-bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbower -->
        <script src="js/responsive-carousel.js"></script>
        <!-- endbuild -->

        <script type="text/javascript">
            var LBG = LBG || {};

            // Site settings added here
            LBG.options = {
                lseFeed: 'xml/lseFeed.xml',
                nyseFeed: 'xml/nyseFeed.xml',
				feedRefreshRate: 100000000,
				assetsFolder: ''
            };

			// Google maps settings added here
			LBG.mapSettings = {
				dataURL: LBG.options.assetsFolder + 'data/markers.json',
			};

        </script>

        <!-- build:js js/lbg.js -->
		<script src="js/map.js"></script>
        <script src="js/lbg.js"></script>
        <!-- endbuild -->
    </body>
</html>