<header class="bar bar-header nav-bar{{navBarClass()}}">
  <div class="left-zone">
  <!-- <action-box class="hide" ng-class="{ hide: !actionBoxEnabled }"></action-box> -->
  </div>
  <h1 ng-bind-html="title" class="title">Title placeholder text</h1>

  <div class="right-zone">
    <button ng-click="button.tap($event)" ng-repeat="button in rightButtons" class="button no-animation {{button.type}}" ng-bind-html="button.content">
    </button>
  </div>
</header>