<i class="brand" bindonce bo-class="brand.style + ' ' + brand.type">WaleA3</i>
<h1 class="brand-title h3">Viper Moth<small class="app-version" bindonce bo-bind="'v' + appVersion"></small></h1>
<div ng-transclude></div>