<div class="modal-wrap"
ng-class="state" bindonce>
  <div class="modal-inner">
    <div class="modal-box">
      <div class="modal-title">
        <strong bo-bind="title"></strong>
        <a class="modal-cancel icon ion-close"
        ng-show="cancelable"></a>
      </div>
      <div class="modal-content"
      ng-transclude></div>
      <button ng-if="hasAction" class="modal-button"
      ng-click="action()" bo-bind="cta"></button>
    </div>
  </div>
</div>