<core-view title="Change email" left-buttons="leftButtons" right-buttons="rightButtons">
  <core-content has-header="true" scroll="true" padding="true">
    <form class="page-form" name="changeEmailForm" role="update"
    ng-class="{ 'is-working': working }"
    ng-submit="submit(changeEmailForm)" novalidate>
      <h2 class="heading">Update email</h2>
      <div ng-if="!changeEmail.sent">
        <div class="form-group float-input">
          <input required floating-label type="email" class="form-control" ng-model="changeEmail.email" name="email" autocapitalize="off" placeholder="New email address"><label for="email">New email address</label>
        </div>
        <div class="form-group float-input">
          <input required floating-label type="email" class="form-control" ng-model="changeEmail.confirm_email" name="confirm_email" autocapitalize="off"  placeholder="Repeat new email address"><label for="confirm_email">Repeat new email address</label>
        </div>
        <div class="cta">
          <button class="btn-lg" type="submit"><span>Update email</span></button>
        </div>
      </div>

      <div ng-if="changeEmail.sent">
        <p>Your registered email has been successfully updated.</p>
      </div>
    </form>
  </core-content>
</core-view>
