<core-view title="Change password" left-buttons="leftButtons" right-buttons="rightButtons">
  <core-content has-header="true" scroll="true" padding="true">
    <form class="page-form" name="changePassForm" role="update"
    ng-class="{ 'is-working': working }"
    ng-submit="submit(changePassForm)" novalidate>
      <h2 class="heading">Change password</h2>
      <div ng-if="!changePass.sent">
        <div class="form-group float-input">
          <input required floating-label type="password" class="form-control" ng-model="changePass.current_password" name="current_password" placeholder="Current password">
          <label for="current_password">Current password</label>
        </div>
        <div class="form-group float-input">
          <input required floating-label type="password" class="form-control" ng-model="changePass.new_password" name="new_password" placeholder="New password">
          <label for="new_password">New password</label>
        </div>
        <div class="form-group float-input">
          <input required floating-label type="password" class="form-control" ng-model="changePass.confirm_new_password" name="confirm_new_password" placeholder="Confirm new password">
          <label for="confirm_new_password">Confirm new password</label>
        </div>
        <label class="form-group checkbox">
          <input type="checkbox" ng-model="changePass.show">
          Show password
        </label>
        <div class="cta">
          <button class="btn-lg" type="submit"><span>Change password</span></button>
        </div>
      </div>

      <div ng-if="changePass.sent">
        <p>Your password has been successfully updated.</p>
      </div>
    </form>
  </core-content>
</core-view>