<ion-view title="Reset password" hide-nav-bar="true">
  <ion-content has-footer="true" padding="true">
    <div core-branding></div>
    <form class="page-form" name="resetPassForm" role="update"
    ng-class="{ 'is-working': working }"
    ng-submit="submit(resetPassForm)" novalidate>
      <h2 class="heading">Reset password</h2>
      <div ng-if="!resetPass.sent">
        <p>Please enter your email address to reset your password.</p>
        <div class="form-group float-input">
          <input required floating-label type="email" class="form-control" ng-model="resetPass.email" name="email" autocapitalize="off" placeholder="Email address"><label for="email">Email address</label>
        </div>
        <div class="cta">
          <button class="btn-lg" type="submit"><span>Reset password</span></button>
        </div>
      </div>
      <div ng-if="resetPass.sent">
        <p>We've sent you an email with instructions on resetting your password.</p>
        <p>If you haven't seen anything in a few minutes - please check your spam box</p>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="padding">
    <a class="button icon-left ion-arrow-left-b button-clear" ui-sref="core.landing">Back</a>
  </ion-footer-bar>
</ion-view>
