<ion-nav-bar delegate-handle="action-bar"></ion-nav-bar>
<ion-nav-buttons side="right"><span class="button loading-icon"></span></ion-nav-buttons>
<ion-side-menus delegate-handle="main-menu">
  <ion-side-menu-content drag-content="false" edge-drag-threshold="100">
    <ion-view ui-view class="shell app-view"></ion-view>
  </ion-side-menu-content>
  <ion-side-menu class="menu-inactive" side="left" menu-list="main"></ion-side-menu>
</ion-side-menus>