<!-- Carousel Starts -->
<div class="full-width-panel carousel-container">
  <div class="carousel">
    <div class="carousel-wrapper">
      <div data-transition="slide" class="carouselBeta">
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/AMC.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Bank_of_Wales.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Blackhorse.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/BM.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/BOS.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Clerical_medical.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Colleys.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Halifax.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/iWeb.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/LDC.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Lex_Autolease.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Lloyds.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Saga.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/Scottish_Widows.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/the_aa.png"/>
          </a>
        </div>
        <div class="carouselItem">
          <a href="#" class="iteminner" title="Lorem ipsum dolor">
            <img alt="Lorem ipsum dolor" src="img/carousel_logos/TSB.png"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel Ends -->
