{{#each heritage-item}}
  <div class="heritage-item">
    <div class="col-xs-12 col-sm-3 col-md-3">
      {{{image}}}
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9">
      {{{title}}}
      {{{sub-title}}}
      {{{intro}}}
      {{{copy}}}
    </div>
  </div>
{{/each}}
