<!-- Central Content Starts -->
<div class="container">
  <article class="content-wrapper brand-page">
    <div class="col-xs-12">
      {{> image-feature image-feature}}
      <div class="row supplementary-text">
          <div class="col-xs-12 col-sm-8">
            <p>Pellentesque lacinia faucibus lectus, ac euismod erat commodo lacinia. Maecenas auctor nulla leo, ac dapibus velit semper eget. In eu sollicitudin nisi. In vitae mauris non massa rutrum auctor a sed ligula. Maecenas quis lectus rhoncus, eleifend sapien id, rhoncus turpis.</p>
          </div>
      </div>
      {{> blockquote-feature blockquote-feature}}
    </div>
  </article>
</div>
