<!-- Pagination Starts -->
<div class="pagination-container">  
  <ul>
    <li>
      <a href="#" title="1 - 10" class="active">1 - 10</a>
    </li>
    <li>
      <a href="#" title="11 - 20">11 - 20</a>
    </li>
    <li>
      <a href="#" title="21 - 30">21 - 30</a>
    </li>
    <li>
      <a href="#" title="Show all">Show all</a>
    </li>
  </ul>
</div>
<!-- Pagination Ends -->
