		
		<!-- Full Width Panel (Related Items) Starts -->
		<article class="full-width-panel {{ panel-class }}" style="{{#if panel-bg-color }}background:{{ panel-bg-color }}{{/if}}">
			{{#if panel-bg}}<div class="bg-panel" style="background:url({{ panel-bg }});"><!-- --></div>{{/if}}
			{{!-- <h1 class="panel-headline">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			</h1> --}}
			<div class="panel-inner">
				<div class="row">
					<div class="panel-heading-block {{{ heading-block.class }}}">
						{{{ heading-block.heading }}}
						{{{ heading-block.body }}}
						<div class="share-feed">
						  {{#each share-feeds}}
						    <iframe src="{{{share-url}}}" width="{{width}}" height="{{height}}" scrolling="no" frameborder="0"></iframe>
						  {{/each}}
						</div>
					</div>
				{{#unless story-landing }}
					<div class="panel-right-item col-xs-12 col-sm-4">
					  <div class="right-item-inner">
						  {{#if profile}}
						    {{> person-profile profile}}
						  {{/if}}
						  {{#if stat}}
						    {{> stat stat}}
						  {{/if}}
						  {{#if recent-items}}
						    {{> recent-items recent-items}}
						  {{/if}}
					  </div>
					</div>  
				{{/unless}}
				</div> 
			</div>
		</article> 
		<!-- Full Width Panel (Related Items) Ends -->
