        
        <!-- Full Width Panel (Related Items) Starts -->
        <article class="full-width-panel {{ panel-class }}">
            {{#if panel-bg}}<div class="bg-panel" style="background:url({{ panel-bg }});"><!-- --></div>{{/if}}
            <div class="panel-inner">
                {{#if panel-title}}<h3 class="panel-title">{{{ panel-title }}}</h3>{{/if}}
                <div class="related-items">
                    <div class="row">
                        {{#each items}}
                           {{> story-item .}}
                        {{/each}}
                    </div>
                </div>    
            </div>        
        </article> 
        <!-- Full Width Panel (Related Items) Ends -->
