        <div class="container">
          <article class="content-wrapper">
            <!-- Story Listing Starts -->
              <div class="story-listing">
                <h3>{{{title}}}</h3>
                {{#each listing}}
                  <div class="listing">
                    <time datetime="{{{listing-time.year}}}-{{{listing-time.month}}}-{{{listing-time.day}}}">{{{listing-time.day}}}/{{{listing-time.month}}}/{{{listing-time.year}}}</time>
                    <div class="content">
                      <img src="{{{listing-image}}}" alt="{{{listing-title}}}"/>
                      <h4><a href="#" title="{{{listing-title}}}" class="arrow-link">{{{listing-title}}}<span class="icon-Arrow"></span></a></h4>
                      <p>{{{listing-copy}}}</p>
                      <div class="story-tags">
                        <ul>
                          {{#each tag}}
                            <li>
                              <a title="{{{title}}}" href="{{{url}}}">{{{title}}}</a>
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            <!-- Story Listing Ends -->
            {{> pagination}}
          </article>
        </div>
