<article class="info-bar full-width-panel {{ panel-class }}" style="{{#if panel-bg-color }}background:{{ panel-bg-color }}{{/if}}">
	<div class="panel-inner">
		<div class="row">
			{{> summary-item summary}}
			<div class="stat-info col-xs-12 col-sm-3">{{> stat stat-1}}</div>
			<div class="stat-info col-xs-12 col-sm-3">{{> stat stat-2}}</div>
		</div>
	</div>
</article>