
<!-- Full Width Panel (Related Items) Starts -->
<article class="full-width-panel grey">
    <div class="panel-inner">
        <div class="row">
        	<div class="summary-items col-xs-12 col-sm-6">
                {{#each content.P01.panels.summary-items.items}}
                	{{> summary-item .}}
                {{/each}}
        	</div>
			{{> recent-items content.P01.panels.recent-items}}
        </div> 
    </div>        
</article> 
<!-- Full Width Panel (Related Items) Ends -->
