        
        <!-- Full Width Panel (Related Items) Starts -->
        <article class="full-width-panel {{ panel-class }}" style="{{#if panel-bg-color }}background:{{ panel-bg-color }}{{/if}}">
            {{#if panel-bg}}<div class="bg-panel" style="background:url({{ panel-bg }});"><!-- --></div>{{/if}}
            <div class="panel-inner">
                <div class="panel-heading-block">
                  <div class="row">
                    <div class="col-xs-12 col-sm-8">
                      <img src="{{{heading.bg-image}}}" class="image-heading" alt="AMC"/>
                      <h1>Rural finance with the personal service and flexibility you need</h1>
                      <div class="intro-copy">
                          <p>The Agricultural Mortgage Corporation plc provides finance to farms, estates and other rural land-based businesses. Established in 1928, AMC specialises in long-term mortgages, used for funding agricultural projects with a longer payback period.</p>
                          <p><a href="#" class="arrow-link" title="Visit the AMC site">Visit the AMC site<span class="icon-Arrow"></span></a></p>
                      </div>
                      <h3>Specialising in land-based businesses</h3>
                      <p>AMC is a unique organisation, specialising in providing long-term funds only for all things relating to agriculture, horticulture, equine pursuits, and other land-based commercial business.  We offer short-term and long-term loans for sole traders, partnerships, companies, trusts, and pension funds. With 85 years' experience to draw upon, you can be confident that we really do understand rural.</p>
                    </div>
                  </div>
                </div>  
            </div>
        </article>
