<!-- Full Width Panel (Map) Starts -->
<article class="full-width-panel google-map">
  <div class="map-controls">
    <a href="#" title="Show map" class="toggle-map">Show map</a>
    <div class="location-finder">
      <h3>LOCAL TO YOU</h3>
      <p>Learn how we're actively helping households, businesses and communities across the UK.</p>
      <div class="select-replacement">
        <select id="select-location" name="select-location">
          <option value="0">Choose one</option>
          <option value="England" data-longitude="-1.1743197000000691" data-latitude="52.3555177">England</option>
          <option value="Northern Ireland" data-longitude="-7.388701218750044" data-latitude="54.54946144628301">Northern Ireland</option>
          <option value="Wales" data-longitude="-3.783711700000026" data-latitude="52.1306607">Wales</option>
        </select>
      </div>
    </div>
  </div>
	<div id="map"></div>
</article>
<!-- Full Width Panel (Map) Ends -->
