        
        <!-- Full Width Panel (Related Items) Starts -->
        <article class="full-width-panel {{ panel-class }}">
        	{{#if panel-bg}}<div class="bg-panel" style="background:url({{ panel-bg }});"><!-- --></div>{{/if}}
            <div class="panel-inner">
			{{#if panel-headline}}
				{{> panel-headline panel-headline}}
			{{/if}}
        	    {{#if panel-title}}<h3 class="panel-title">{{{ panel-title }}}</h3>{{/if}}
        	    <div class="promo-items takeover">
                    <div class="row">
                        <div class="promo-item takeover-item col-xs-12 col-sm-4 col-md-4 equal-height">
                    	    <section class="item-inner">
                                <h4 class="takeover-title">{{{ panel-item.content-title }}}</h4>
                                <a href="{{ panel-item.view-link-url }}" title="{{{ panel-item.view-link-title }}}" class="arrow-link">{{{ panel-item.view-link-title }}}<span class="icon-Arrow"></span></a>
                                <a href="{{ panel-item.download-link-url }}" title="{{{ panel-item.download-link-title }}}" class="arrow-link">{{{ panel-item.download-link-title }}}<span class="icon-Arrow"></span></a>
                            </section>
                        </div>
                        <div class="promo-item takeover-item col-xs-12 col-sm-4 col-md-4 equal-height">
                    	    <blockquote class="item-inner">
                                <div>
                                    {{{ panel-item.quote-body }}}
                                </div>
                                <p>{{{ panel-item.quote-by }}}</p> 
                                <p>{{{ panel-item.quote-position }}}</p>
                            </blockquote>
                        </div>
                        <div class="promo-item takeover-item item-img col-xs-12 col-sm-4 col-md-4 equal-height">
                    	    <section class="item-inner">
                    	    	<img src="{{ panel-item.img-src }}" alt="{{{ panel-item.img-alt }}}"/>
                            </section>
                        </div>
                    </div>
                </div>    
            </div>        
        </article> 
		<!-- Full Width Panel (Related Items) Ends -->
