		
		<!-- Full Width Panel (Related Links) Starts -->
        <article class="full-width-panel">
            <div class="panel-inner">
                {{#if panel-title}}<h3 class="panel-title">{{{ panel-title }}}</h3>{{/if}}
            	<div class="related-links">
                    <div class="row">
                        {{#each items}}
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div>
                                <a href="{{ link-url }}" title="{{{ link-title }}}" class="arrow-link">{{{ link-title }}}<span class="icon-Arrow"></span></a>
                            </div>
                        </div>
                        {{/each}}
            	    </div>
                </div> 
            </section>         
        </article>
		<!-- Full Width Panel (Related Links) Ends -->
