		
		<!-- Full Width Panel (Related Items) Starts -->
        <article class="full-width-panel {{ panel-class }}">
        	{{#if panel-bg}}<div class="bg-panel" style="background:url({{ panel-bg }});"><!-- --></div>{{/if}}
            <div class="panel-inner">
                {{#if panel-headline}}
					{{> panel-headline panel-headline}}
				{{/if}}
        	    {{#if panel-title}}<h3 class="panel-title">{{{ panel-title }}}</h3>{{/if}}
              {{> promo-items .}}
            </div>        
        </article> 
		<!-- Full Width Panel (Related Items) Ends -->
