        
  <!-- Footnote Starts -->
  <article class="full-width-panel footnotes">
    <div class="panel-inner">
      <ol>
        {{#each content.footnotes}}
          {{> footnote .}}
        {{/each}}
      </ol>
    </div>
  </article>
  <!-- Footnote Ends -->