        
        <!-- Full Width Panel (Media Links) Starts -->
            <div class="panel-inner">
                {{#if panel-title}}<h3 class="panel-title">{{{ panel-title }}}</h3>{{/if}}
                <div class="summary-items">
                    <div class="row">
                        {{#each items}}
                           {{> summary-item .}}
                        {{/each}}
                    </div>
                </div>    
            </div>
        <!-- Full Width Panel (Media Links) Ends -->
