        
  <!-- Press Release Content Starts -->
  <img src="{{{heading.image}}}" class="image-heading" alt="{{{heading.text}}}"/>
  <h1>{{{sub-heading}}}</h1>
  <h2 class="release-date">{{{release-date}}}</h2>
  {{{body-copy}}}
  <!-- Press Release Content Ends -->