
	<!-- Story Module Starts -->
	<div class="story">
    <h1 class="hidden">Viewley Hill Farm</h1>
    {{#each .}}
      {{> story-chapter .}}
    {{/each}}
    <nav class="story-nav hidden-xs">
      <ul class="nav">
        {{#each .}}
          {{> story-nav .}}
        {{/each}}
      </ul>
    </nav>
    {{> footer-tagging}}
  </div>
  
<!-- Story Module Ends -->
