.dashboard__cards {
  padding: 10px;
}

// Occupancy dashboard card
.card--occupancy {
  .occupancy-state__title {
    top: 50%;
    left: 90px;
    right: auto;
    bottom: auto;
    margin: -8px 0 0;
  }

  .state-control {
    top: 45%;
    left: 50%;
    right: 0;
  }

  .state--active {

  }
}

.occupancy-state {}