/* 
 * # Common AngularJS specific styling
 */

.fade.ng-hide-remove {
  display: block!important;
  transition: all linear 0.5s;
  opacity: 1;
}

.fade.ng-hide {
  opacity:0;
}

[ui-sref], [ng-click] {
  cursor: pointer;
}