/**
 * Animations
 * --------------------------------------------------
 */
/* Transitions */
// z$transition-duration: 8000ms;
/* Default Enter/Leave */
.ng-enter,
.ng-leave {
  @include transition( opacity cubic-bezier(0.63, 0.62, 0.48, 1.64) $transition-duration );
}

// .ng-enter, .ng-leave.ng-leave-active {
//     opacity: 0;
// }

// .ng-enter.ng-enter-active, .ng-leave {
//     opacity: 1;
// }


/* crossFade */
.crossFade {
  > .ng-enter {
    transition-duration: $transition-duration;
    opacity: 0;
  }

  > .ng-enter.ng-enter-active {
      opacity: 1;
  }

  > .ng-leave {
      transition-duration: $transition-duration;
      opacity: 1;
  }

  > .ng-leave.ng-leave-active {
      opacity: 0;
  }
}

/* slideRight */
.slideRight > [ion-view] {
    opacity: 1 !important;
}

.slideRight {
  > .ng-enter {
      transition-property: none;
      @include translate3d(-100%,0,0);
  }

  > .ng-enter.ng-enter-active, > .ng-leave {
      transition-property: all;
      @include translate3d(0,0,0);
  }

  > .ng-leave.ng-leave-active {
      transition-property: all;
      @include translate3d(100%,0,0);
  }
}

/* slideLeft */
.slideLeft > [ion-view] {
    opacity: 1 !important;
}

.slideLeft {
  > .ng-enter {
    transition-property: none;
    @include translate3d(100%,0,0);
  }

  > .ng-enter.ng-enter-active, > .ng-leave {
      transition-property: all;
      @include translate3d(0,0,0);
  }

  > .ng-leave.ng-leave-active {
      transition-property: all;
      @include translate3d(-100%,0,0);
  }
}

/* slideDown */
.slideDown {
  > .ng-enter {
    transition-property: none;
    @include translate3d(0,-100%,0);
  }

  > .ng-enter.ng-enter-active, > .ng-leave {
      transition-property: all;
      @include translate3d(0,0,0);
  }

  > .ng-leave.ng-leave-active {
      transition-property: all;
      @include translate3d(0,100%,0);
  }
}

/* slideUp */
.slideUp > [ion-view] {
    opacity: 1 !important;
}

.slideUp{
  > .ng-enter {
    transition-property: none;
    @include translate3d(0,100%,0);
  }

  > .ng-enter.ng-enter-active, > .ng-leave {
      transition-property: all;
      @include translate3d(0,0,0);
  }

  > .ng-leave.ng-leave-active {
      transition-property: all;
      @include translate3d(0,-100%,0);
  }
}


/**
 * Keyframes
 * --------------------------------------------------
 */
@-webkit-keyframes slideOutDown {
  0% {
    @include translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    @include translate3d(0, -100%, 0);
    opacity: 0;
  }
}
@-moz-keyframes slideOutDown {
  0% {
    @include translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    @include translate3d(0, -100%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    @include translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    @include translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slideInDown {
  0% {
    @include translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    @include translate3d(0, 0, 0);
    opacity: 1;
  }
}