/*
 * # Common styles
 */

* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout: none;

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  @include sans;
  position: relative;
  /* For debugging height w/ keyboard
  border-top: 2px red solid;
  border-bottom: 2px red solid;
  */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-height: 100%;
}

html, body, .core, .shell {
  background: none;
  display: block;
  height: 100%;
}

body {
  // padding-top: $padding-base-vertical;
  position: static;

  .browser-android & {
    /* Fix for Android issue */
    text-rendering: auto;
  }
}

.app-container {
  @include app-bg;
  /* width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; */
}

.dw {
  width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include branded;
  text-align: left;
}

a {
  color : $base-color;
  font-weight: bold;
  text-decoration: none;
  &:hover, &:focus {
    color: $core-red;
  }

  .bar-footer &.col {
    overflow: hidden;
    .inner {
      @include inline-block;
      vertical-align: baseline;
    }
    // line-height: $bar-footer-height/1.5;
  }
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid rgba($core-grey, .4);
  margin: 15px 0;
}

.checkbox input {
  @include inline-block;
}

.heading {
  padding: 0 0 8px;
}

// Header

.scroll-content {
  .platform-ios7 & {
    margin-top: 10px;
    &.has-header {
      margin-top: 0;
    }
  }
}

// Footer
.footer, .bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom {
  left: 0; right: 0;
}

.bar-footer {
  height: auto;
  max-height: $bar-footer-height;
  padding: 0;
  background: none;

  .icon-left::before {
    margin-right: 5px;
  }
  .icon-right::before {
    margin-right: 5px;
  }
}

.has-footer {
  bottom: $bar-footer-height;
  .keyboard-open & {
    bottom: 0;
  }
}

// General
.brand-title {
  @include branded;
  margin: 0;
  padding: 0;
  color: $core-grey;
  font-weight: 400;
}

.app-version {
  @include monospace;
  @include inline-block;
  position: relative;
  font-size: 7px;
  text-align: right;
  white-space: nowrap;
}

.core-brand {
  @include inline-block;
  vertical-align: baseline;
  height: 42px;
  width: 110px;
  text-indent: -999em;
  @include hidpi("core_logo");

  &.white {
    @include hidpi("core_logo-white");
    & + .brand-title .app-version {
      color: darken($core-yellow, 7);
    }
  }

  // & + .brand-title {
  //   @include inline-block;
  //   vertical-align: baseline;
  //   position: absolute;
  //   right: 0;
  // }

  &.stacked + .brand-title {
    position: static;
    display: block;
  }

  &.rounded {
    display: block;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 180px;
    padding: 10px;
    height: 150px;
    width: 150px;
    & + .brand-title {
      padding: 10px 0;
    }
  }

  &.center {
    margin: 0 auto;
    & + .brand-title {
      text-align: center;
    }
  }
}

[core-branding] {
  position: relative;
  min-height: 48px;
}

.action-icon {
  @include inline-block;
  height: 20px;
  width: 20px;
  margin: -1px 1px 0 0;
  background: image-url("fit_marble.png") no-repeat 0 0;
  background-size: 100%;
}

.bg-item {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background: none;
}

.small-print {
  font-size: .9em;
}

.shell {
  @include translate3d( 0, 0, 0 );
}

.pane, .view {
  @include opt-anim;
  @include perspective( 1500px );
  background: none;
  overflow: hidden;
}

.scroll {
  min-height: 99.5%;
}

.loading {
  text-align: center;
  .loading__inner {
    margin: 0 auto;
  }
}

.loading-icon {
  @extend .animate-all;
  background: none;
  border: none;
  opacity: 0;
  &:before {
    @extend .ion-loading-c;
  }
  .is-loading & {
    opacity: 1;
  }
}