/*
 * # Fonts
 */

@include font-face(
  "CentraleSansRnd",
  font-files(
    "centralesans/CentraleSansRnd-Light-webfont.woff",
    "centralesans/CentraleSansRnd-Light-webfont.ttf",
    "centralesans/CentraleSansRnd-Light-webfont.svg#centralesansrndlight"
  ),
  "centralesans/CentraleSansRnd-Light-webfont.eot",
  normal,
  normal
);

@include font-face(
  "ptsans",
  font-files(
    "ptsans/pt_sans-web-regular-webfont.woff",
    "ptsans/pt_sans-web-regular-webfont.ttf",
    "ptsans/pt_sans-web-regular-webfont.svg#pt_sansregular"
  ),
  "ptsans/pt_sans-web-regular-webfont.eot",
  normal,
  normal
);
@include font-face(
  "ptsans",
  font-files(
    "ptsans/pt_sans-web-italic-webfont.woff",
    "ptsans/pt_sans-web-italic-webfont.ttf",
    "ptsans/pt_sans-web-italic-webfont.svg#pt_sansitalic"
  ),
  "ptsans/pt_sans-web-italic-webfont.eot",
  normal,
  italic
);
@include font-face(
  "ptsans",
  font-files(
    "ptsans/pt_sans-web-bold-webfont.woff",
    "ptsans/pt_sans-web-bold-webfont.ttf",
    "ptsans/pt_sans-web-bold-webfont.svg#pt_sansbold"
  ),
  "ptsans/pt_sans-web-bold-webfont.eot",
  bold,
  normal
);
@include font-face(
  "ptsans",
  font-files(
    "ptsans/pt_sans-web-bolditalic-webfont.woff",
    "ptsans/pt_sans-web-bolditalic-webfont.ttf",
    "ptsans/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic"
  ),
  "ptsans/pt_sans-web-bolditalic-webfont.eot",
  bold,
  italic
);

@include font-face(
  "source-sans-pro",
  font-files(
    "source/sourcesanspro-light-webfont.woff",
    "source/sourcesanspro-light-webfont.ttf",
    "source/sourcesanspro-light-webfont.svg#source_sans_prolight"
  ),
  "source/sourcesanspro-light-webfont.eot",
  300,
  normal
);
@include font-face(
  "source-sans-pro",
  font-files(
    "source/sourcesanspro-regular-webfont.woff",
    "source/sourcesanspro-regular-webfont.ttf",
    "source/sourcesanspro-regular-webfont.svg#source_sans_proregular"
  ),
  "source/sourcesanspro-regular-webfont.eot",
  normal,
  normal
);
@include font-face(
  "source-sans-pro",
  font-files(
    "source/sourcesanspro-semibold-webfont.woff",
    "source/sourcesanspro-semibold-webfont.ttf",
    "source/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold"
  ),
  "source/sourcesanspro-semibold-webfont.eot",
  600,
  normal
);

@include font-face(
  "source-code-pro",
  font-files(
    "source/sourcecodepro-regular-webfont.woff",
    "source/sourcecodepro-regular-webfont.ttf",
    "source/sourcecodepro-regular-webfont.svg#source_code_proregular"
  ),
  "source/sourcecodepro-regular-webfont.eot",
  normal,
  normal
);

@include font-face(
  "inconsolata",
  font-files(
    "inconsolata/inconsolata-webfont.woff",
    "inconsolata/inconsolata-webfont.ttf",
    "inconsolata/inconsolata-webfont.svg#inconsolatamedium"
  ),
  "inconsolata/inconsolata-webfont.eot",
  normal,
  normal
);

// @media screen and (-webkit-min-device-pixel-ratio:0) {
//   @include font-face(
//     "CentraleSansRnd",
//     font-files(
//       "CentraleSansRnd-Light-webfont.svg#centralesansrndlight"
//     )
//   );

//   @include font-face(
//     "inconsolata",
//     font-files(
//       "inconsolata-webfont.svg#inconsolatamedium"
//     )
//   );
// }

@mixin branded {
  font-family: "CentraleSansRnd", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin block-type {
  font-family: "source-sans-pro", "ptsans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin sans {
 font-family: "source-sans-pro", "ptsans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif {
 font-family: "Times New Roman", Georgia, serif;
}

@mixin monospace {
  font-family: "source-code-pro", "inconsolata", "Lucida Console", Monaco, monospace;
}