/* 
 * # Mixins
 */

@mixin app-bg ( $img: "bkg-2.jpg", $size: cover ) {

  background-image: image-url( $img );
  // background-image: image-url("app-blurred-bg-12.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // background-attachment: fixed;
  @include background-size(cover);
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin washout-bg( $selector ) {
  #{$selector} {
    background-color: rgba(255,255,255,.5);
  }
}

@mixin vert-content( $selector: "& > [class*=\"inner\"]" ) {
  // Vertical content
  display: table;
  height: 100%;
  width: 100%;

  @media screen and (min-height: $screen-short + 1) {
    margin-top: -($bar-height/2);
  }

  // .platform-android & {
  //   margin-top: -(48px);
  // }
  // .platform-ios7:not(.fullscreen) & {
  //   margin-top: -(64px);
  // }

  .scroll, #{$selector} {
    display: table-cell;
    vertical-align: middle;
    // padding-top: $bar-height;

    // .platform-android & {
    //   padding-top: 48px;
    // }
    // .platform-ios7:not(.fullscreen) & {
    //   padding-top: 64px;
    // }
  }
}

@mixin no-vert-content( $selector: "& > [class*=\"inner\"]" ) {
  &, .scroll, #{$selector}  {
    display: block;
    height: auto;
  }
}

@mixin naked-button {
  background: none;
  border: none;
  padding: 0;
}

@mixin translucent( $trans: .05, $font-color: #666 ) {
  & {
    background-color: rgba(0,0,0,$trans);
    color: $font-color;
  }

  &:hover, &:focus, &:active {
    background-color: lighten(rgba(0,0,0,$trans), 10);
    color: lighten( $font-color, 15 );
  }
}

@mixin vert-padding( $size: 20px ) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin horz-padding( $size: 20px ) {
  padding-left: $size;
  padding-right: $size;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin opt-anim {
  -webkit-backface-visibility: hidden;
  @include perspective( 1500px );
  // .platform-android &, .platform-ios7 & {
  //   -webkit-perspective: 1000;
  //   -webkit-backface-visibility: hidden;
  //  }
}
