.vert-content {
  @include vert-content;
}

.pad {
  padding: 15px;
}

.center {
  text-align: center;
}

.small-print {
  font-size: .9em;
}

.animate-all {
  @include opt-anim;
  @include transition( all $transition-duration ease-in-out );
}

// Colours

.bg-orange {
  background-color: rgba( $core-orange, .8 );
  border-color: darken( rgba( $core-orange, .8 ), 10 );
}

.bg-blue {
  background-color: rgba( $positive, .8 );
  border-color: darken( rgba( $positive, .8 ), 10 );
}

.glass {
  border-bottom: 1px solid;
  border-bottom-color: #CCC;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}