/* 
 * # Variables
 */

$fa-font-path: "../bower_components/font-awesome/fonts";
$ionicons-font-path: "../bower_components/ionic/release/fonts";

// Colours
$base-color: #58574B; //rgb(88,87,75)
$white: #FFF;

$core-pink: #ED1556; //rgb(237,21,86)
$core-red: #E23521; //rgb(226,53,33)
$core-orange: #E7711F; //rgb(231,113,31)
$core-yellow: #E8AD11; //rgb(232,173,17)
$core-grey: $base-color;
$core-grey-light: #B4B3AE; //rgb(180,179,174)
$core-grey-lighter: #EEEEED; //rgb(238,238,237)


$item-default-text: $base-color;

$button-stable-active-bg: rgba( $core-grey, .3 );
$button-default-active-bg: $button-stable-active-bg;

$headings-font-weight: 300;

// Shades
$difference: 10%; // Difference (in percent) between each shade
$shade0: lighten($base-color, ($difference * 6));
$shade1: lighten($base-color, ($difference * 2));
$shade2: lighten($base-color, $difference);
$shade3: $base-color;
$shade4: darken($base-color, $difference);
$shade5: darken($base-color, ($difference * 2));
$shade6: darken($base-color, ($difference * 4));


// Dimensions
$content-padding: 14px;

$padding-base-vertical: 15px;
$big-button-padding: 10px;
$bar-footer-height: 65px;

$input-padding: 10px;
$input-height: 32px;

// Overrides
$item-divider-color: rgba($white, .5);
$item-divider-padding: 25px 0 10px;

$hidpi-postfix: "@2x";

$screen-xshort: 320px + $bar-height !default;
$screen-short: 468px + $bar-height !default;
$screen-mid: 768px + $bar-height !default;
$screen-tall: 960px + $bar-height !default;