<!-- Main menu -->
<!-- <div class="user-info">
  <a title="Your details" class="user-info__name"
  ng-click="navigateTo('app.fit.details')" bo-bind="auth.user.fullName"></a>
</div> -->

<ion-content>
  <ul class="menu-list">
    <li class="menu-item" bindonce
    ng-repeat="item in menuItems">
      <button class="item button-full"
      bo-if="item.state"
      bo-bind="item.title"
      bo-class="item.class"
      ng-class="{ 'current' : item.active }"
      ng-click="navigateTo(item.state)"></button>
      <div class="item-group"
      bo-if="item.items">
        <h3 class="item-divider"
        bo-bind="item.title"></h3>
        <button class="item button-full"
        ng-repeat="subItem in item.items"
        bo-bind="subItem.title"
        bo-class="subItem.class"
        ng-class="{ 'current' : subItem.active }"
        ng-click="navigateTo(subItem.state)"></button>
      </div>
    </li>
  </ul>
</ion-content>

<ion-footer-bar class="bottom" bindonce>
 <button class="btn icon--lg bg-blue"
  ng-click="navigateTo('settings')" title="Settings"><i class="fa fa-cog"></i></button>
 <button class="btn icon--lg bg-orange"
  ng-click="$parent.logout()" title="Log out"><i class="fa fa-power-off"></i></button>
</ion-footer-bar>