.temp {
}
.temp__label::before {
  margin-right: 10px;
}

.temp__controls {
  padding: 20px 0;
}

.temp__status {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
}

.card--boost {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
}

.boiler {
  background: image-url("f_heating/boiler_heating.png") no-repeat 0 0;
  background-size: 100% auto;
  margin: 0 auto;
  padding: 94px 2px 30px;
  width: 100px;
  @include transform( scale(.9) );

  &, .ion-flame::before {
    @include transition( opacity, transform );
    @include transition-duration(250ms);
    @include transition-timing-function(cubic-bezier(0.63, 0.62, 0.48, 1.64));
  }

  .ion-flame {
    text-align: center;
    color: white;

    &::before {
      @include transition-delay(230ms);
      @include translate( 0, 10px );
      display: block;
      font-size: 3em;
      color: $assertive;
      position: relative;
      margin-bottom: -53px;
      bottom: -30px;
      opacity: 0;
    }
  }

  &.boosting {
    @include transform( scale(1) );
    .ion-flame::before {
      @include translate( 0, 0 );
      opacity: 1;
    }
  }
}