.occupancy-state__btn {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  line-height: 60px;
  padding: 5px;
  margin: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: rgba(0,0,0,0.2);
    @include border-radius(100px);
    opacity: 0;
  }

  .state--active & {
    &::before { opacity: 1; }
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

.occupancy-state__title {
  @extend .h6;
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  padding: 0;
  opacity: 1;

  .state--active & {
    color: $passiv-orange;
  }

  // .controls--active & {
  //   opacity: 0;
  // }
}

.occupancy-label {
  @extend .h4;
  @include inline-block;
  vertical-align: middle;
  padding: 0 5%;
}

.occupancy-label--until, .occupancy-label--then {
  @extend .occupancy-label;
}


/* Controls */
.control {
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: rgba(0,0,0,0.2);
    @include border-radius(100px);
  }

  .controls--active &::before {
    opacity: 0;
  }
}
.control__display {
  @extend .h5;
  text-align: center;
  padding: 7px 0;
  margin: 0;
}

.control__ind {
  position: absolute;
  right: -6.5em;
  z-index: 99;

  &, &::before, &::after {
    content: "";
    height: 5px;
    width: 35px;
    display: block;
    font-size: 10px;
    line-height: 10px;
    opacity: 0;
    background-color: $assertive;
  }
  &::before, &::after {
    position: relative;
    top: 9px;
  }
  &::after {
    top: 13px;
  }

  // .ind-1 & {}
  // .ind-2 &::before {
  //   opacity: 1;
  // }
  // .ind-3 & {}
}

.control__ind--plus, .control__ind--minus {
  @extend .control__ind;
}

.control__ind--plus {
  &::before {
    top: -9px;
  }
  &::after {
    top: -23px;
  }
  .ind-plus-1 &, .ind-plus-2 &::before, .ind-plus-3 &::after {
    opacity: 1;
  }
}
.control__ind--minus {
  &, &::before, &::after {
    background-color: $positive;
  }
  .ind-minus-1 &, .ind-minus-2 &::before, .ind-minus-3 &::after {
    opacity: 1;
  }
}

.occupancy-control {
  @include inline-block;
}

.state-control {
  position: absolute;
}