<div class="heating-card col-50">
  <header class="h3">HEATING: <heating-status></heating-status></header>
  <article class="list card">
	<div class="item item-icon-left temp temp--current">
		<i class="icon ion-thermometer"></i>
	  <strong class="temp__label">Current:</strong>
	  <span class="temp__val" ng-bind-html="temp | tempUnit" ng-class="{ 'assertive' : temp > 15, 'positive': temp <= 15 }"></span>
	</div>

	<!-- <div class="item item-icon-left temp temp--outside">
		<i class="icon ion-cloud"></i>
	  <strong class="temp__label">Outside:</strong>
	  <span class="temp__val" ng-bind-html="outside | tempUnit" ng-class="{ 'assertive' : outside > 15, 'positive': outside <= 15 }"></span>
	</div> -->
  </article>
  <control-setpoint class="card"></control-setpoint>
</div>