<div class="setpoint-control">
  <button class="btn--arrow-up assertive temp__warmer ion-plus" ng-click="warmer()">
    <i class="control__ind--plus"></i>
  </button>
  <div class="temp temp--target control__display">
    <strong class="temp__label">Now:</strong>
    <span class="temp__val"
    ng-bind-html="tempNow | tempUnit"
    ng-class="{ 'assertive' : tempNow > 15, 'positive': tempNow <= 15 }"></span>
  </div>
  <div class="temp temp--target control__display ng-hide">
    <strong class="temp__label"> Target:</strong>
    <span class="temp__val"
    ng-bind-html="targetTemp | tempUnit"
    ng-class="{ 'assertive' : targetTemp > 15, 'positive': targetTemp <= 15 }"></span>
  </div>
  <button class="btn--arrow-down positive temp__cooler ion-minus" ng-click="cooler()">
    <i class="control__ind--minus"></i>
  </button>
  <center class="temp__status balanced" ng-if="!!tempStatus" ng-bind-html="tempStatus"></center>
</div>