<ion-content>
  <ul class="settings-list">
    <li class="setting-list__setting item" ng-repeat="setting in settings track by $index">
      <div ng-if="setting.type!=='state'">
        <strong>{{ setting.title }}:</strong> {{ setting.value }}
      </div>
      <a ng-if="setting.type=='state'" ui-sref="{{setting.value}}" bo-bind="setting.title"></a>
    </li>
  </ul>
</ion-content>