/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:focus, :active, :hover {
  outline: 0px;
  -webkit-appearance: none;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-height: 100%;
}

html, body {
  position: relative;
  display: block;
  height: 100%;
  background: url('bg.png') repeat;
}

#container {
  display: table;
  height: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.calc {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  max-width: 280px;
}

.calc__keys, .calc__display {
  margin: 0 auto;
}
.calc__display {
  height: 26px;
  padding: 15px 10px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;

  background: #fff;
  background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #eee), to(#fff)); 
  background: -moz-linear-gradient(top, #fff, #eee 1px, #fff 25px);
  background: linear-gradient(top, #fff, #eee 1px, #fff 25px);

  white-space: nowrap;
  overflow: hidden;

  font-family: monospace;
  font-size: 2em;
  line-height: 1.1em;
  text-align: right;
}
.calc__keys {
  display: -webkit-flex;
  display: flex;
}

.calc__inputs, .calc__operators {
  
}
.calc__inputs, .calc__clear {
  width: 78%;
}
.calc__operators, .calc__del {
  width: 29%;
}

.calc__key,
.calc__key--dark,
.calc__key--input,
.calc__key--operator {
  width: 99%;
  height: 60px;
  margin: 1px;

  border: none;
  color: #eee;

  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
}
.calc__key--input {
  width: 32.36%;
}

.calc__key, .calc__key:active,
.calc__key--input, .calc__key--input:active {
  background: rgba(255,255,255,0.3);
}

.calc__key:focus, .calc__key:hover,
.calc__key--input:focus, .calc__key--input:hover {
  background: rgba(255,255,255,0.5);
}

.calc__key--dark, .calc__key--dark:active,
.calc__key--operator, .calc__key--operator:active {
  background: rgba(0,0,0,0.3);
}

.calc__key--dark:focus, .calc__key--dark:hover,
.calc__key--operator:focus, .calc__key--operator:hover {
  background: rgba(0,0,0,0.5);
}

/* mobile landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (orientation: landscape),
only screen and (min-width: 481px) and (max-width: 800px) {
  #container, .calc {
    max-width: 90%;
  }

  .calc {
    padding: 10px;
  }
  .calc__display {
    margin-bottom: 10px;
  }

  .calc__inputs, .calc__clear {
    width: 81%;
  }
  .calc__operators, .calc__del {
    width: 20%;
  }
  .calc__key--input {
    width: 24.3%;
  }
  .calc__key--operator {
    height: 30px;
  }
}