<core-content>
  <header>
    <h2>About</h2>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sequi, dolorum perferendis eveniet commodi molestiae reprehenderit accusantium similique id doloremque harum quod facilis aliquid reiciendis ducimus deserunt minus repellat praesentium?</p>
</core-content>