<core-content>
  <div ui-view="list" ng-class="listClass">
    <article class="item" bindonce ng-repeat="settingsGroup in settingsList track by $index">
      <header class="h4"
      bo-if="!settingsGroup.conf.state && settingsGroup.settings && settingsGroup.conf.title" bo-bind="settingsGroup.conf.title"></header><a
      bo-if="settingsGroup.conf.state" ui-sref="{{settingsGroup.conf.state}}" bo-bind="settingsGroup.conf.title"></a>
      <ul
      bo-if="!settingsGroup.conf.state && settingsGroup.settings" class="settings-list" ng-init="settingsOrder = settingsGroup.settingsOrder()">
        <li class="setting-list__setting item" ng-repeat="setting in settingsOrder track by $index">
          <div ng-if="setting.type!=='state'">
            <strong>{{ setting.title }}:</strong> {{ setting.value }}
          </div>
          <a ng-if="setting.type=='state'" ui-sref="{{setting.value}}" bo-bind="setting.title"></a>
        </li>
      </ul>
    </article>
  </div>
  <div ui-view="settings" ng-class="settingsClass"></div>
</core-content>