/*
 * # Content view
 */

.content-view {
  ul, ol {
    margin-left: 25px;
    margin-right: 15px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

.main-view {
  background: $white;
}