			
			<!-- Tagging Starts -->
        	<div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="story-tags">
                        <h3>More stories about</h3>
                        <ul>
                            <li><a href="#" title="Helping businesses">Helping businesses</a></li>
                            <li><a href="#" title="Community initiatives">Community initiatives</a></li>
                            <li><a href="#" title="SMEs">SMEs</a></li></li>
                            <li><a href="#" title="Supporting SMEs">Supporting SMEs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
      <!-- Tagging Ends -->
