	
	<!-- Full Width Panel (Landing page stories) Starts -->
        <article class="full-width-panel explore">
            <div class="panel-inner">
              <h3 class="panel-title">Explore Careers</h3>
            	<ul class="row">
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
            			 <ul class="explore-links">
            			 	<li class="explore-link"><a href="#" title="Retail Branches">Retail Branches</a></li>
            			 	<li class="explore-link"><a href="#" title="Contact Centres &amp; Operations">Contact Centres &amp; Operations</a></li>
            			 	<li class="explore-link"><a href="#" title="Professional roles">Professional roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Specialist roles">Specialist roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Graduate roles">Graduate roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Professional roles">Professional roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Specialist roles">Specialist roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Graduate roles">Graduate roles</a></li>
            			 </ul>
                	</li>
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
            			 <ul class="explore-links">
            			 	<li class="explore-link"><a href="#" title="Retail Branches">Retail Branches</a></li>
            			 	<li class="explore-link"><a href="#" title="Contact Centres &amp; Operations">Contact Centres &amp; Operations</a></li>
            			 	<li class="explore-link"><a href="#" title="Professional roles">Professional roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Specialist roles">Specialist roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Graduate roles">Graduate roles</a></li>
            			 </ul>
                	</li>
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
            			 <ul class="explore-links">
            			 	<li class="explore-link"><a href="#" title="Retail Branches">Retail Branches</a></li>
            			 	<li class="explore-link"><a href="#" title="Contact Centres &amp; Operations">Contact Centres &amp; Operations</a></li>
            			 	<li class="explore-link"><a href="#" title="Professional roles">Professional roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Specialist roles">Specialist roles</a></li>
            			 </ul>
                	</li>
            	</ul>
            	<ul class="row">
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
            			 <ul class="explore-links">
            			 	<li class="explore-link"><a href="#" title="Retail Branches">Retail Branches</a></li>
            			 	<li class="explore-link"><a href="#" title="Contact Centres &amp; Operations">Contact Centres &amp; Operations</a></li>
            			 	<li class="explore-link"><a href="#" title="Professional roles">Professional roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Specialist roles">Specialist roles</a></li>
            			 	<li class="explore-link"><a href="#" title="Graduate roles">Graduate roles</a></li>
            			 </ul>
                	</li>
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
            			 <ul class="explore-links">
            			 	<li class="explore-link"><a href="#" title="Retail Branches">Retail Branches</a></li>
            			 	<li class="explore-link"><a href="#" title="Contact Centres &amp; Operations">Contact Centres &amp; Operations</a></li>
            			 </ul>
                	</li>
                	<li class="explore-item col-xs-12 col-sm-4 col-md-4">
            			 <img src="img/sample/img-promo-668x562-1.jpg" alt="Lorem ipsum dolor sit amet"/>
                    <h4>
                      <a href="#" class="arrow-link" title="Where do you fit in">
                        Where do you fit in<span class="icon-Arrow"></span>
                      </a>
                    </h4>
            			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis mauris nunc, sit amet tristique leo sollicitudin et proin orci nulla.</p>
                	</li>
            	</ul>
            </div>
            
        {{> panel-summary-items content.common.panels.summary-items}}        
        </article> 
	<!-- Full Width Panel (Landing page stories) Ends -->
