    
    <!-- Footer Starts -->  
        <footer>
            <!-- Main Footer Content Starts --> 
            <div class="footer-inner">     
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <nav>
                            <ul>
                                <li><a href="#" title="Accessibility">Accessibility</a></li>
                                <li><a href="#" title="Cookie policy">Cookie policy</a></li>
                                <li><a href="#" title="Privacy policy">Privacy policy</a></li>
                                <li><a href="#" title="Site map">Site map</a></li>
                                <li><a href="#" title="Site terms and conditions">Site terms and conditions</a></li>
                                <li><a href="#" title="Copyright notice">Copyright notice</a></li>
                            </ul>
                        </nav>
                        <p>By using www.lloydsbankinggroup.com you agree to the outlined use of cookies in our <a href="#" title="Read out outlined use of cookie notice">cookie notice</a>.</p>
                        <p>Lloyds Bank plc, TSB Bank plc and Bank of Scotland plc (members of Lloyds Banking Group), are authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.  Authorisation can be checked on the Financial Services Register at:<a href="#" title="Click here to view the Financial Services Register">www.fca.org.uk</a></p>
                    </div>
                </div>
            </div>
            <!-- Main Footer Content Ends -->
    	</footer>
    <!-- Footer Ends -->
