		
		<!-- Header Starts -->
      <!-- Access Keys Starts -->
      <ul class="access-keys">
        <li><a href="#main-content" accesskey="[">Skip to content</a></li>
        <li><a href="#main-navigation" accesskey="]">Skip to navigation</a></li>
        <li><a href="#" accesskey="1">Home</a></li>
        <li><a href="#" accesskey="3">Site map</a></li>
        <li><a href="#" accesskey="8">Site terms and conditions</a></li>
        <li><a href="#" accesskey="0">Accessibility</a></li>
      </ul>
      <!-- Access Keys Ends -->
      <header>
			  <!-- Main Navigation Starts -->
			  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
				  <div class="header-inner">
					  <div class="logo">
              <a href="#" title="Lloyds Banking Group"><img src="img/logo.png" alt="Lloyds Banking Group"/></a>
					  </div>					
					  <div class="header-top">
						  <!-- Search etc. will go here -->
						  {{> search}}
						  <div class="share-heading">Share price</div>
						  <div class="price-info visible-xs">
							  <a href="#" title="Share price info" class="arrow-link">Share price info<span class="icon-Arrow"></span></a>
						  </div>
					  </div>
					  {{> mega-nav}}	  
				  </div>
			  </div>
			  <!-- Main Navigation Ends --> 
      </header>
    <!-- Header Ends -->
        
		{{> breadcrumb}}
