					
		<div class="navbar-header">
      <button type="button" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <button type="button" class="share-price-toggle collapsed visible-xs"></button>
		</div>
		<div class="navbar-collapse" id="main-navigation">
			<nav>
				<ul class="nav navbar-nav">
					{{#each site.mega-nav}}
							{{> list-item .}}
					{{/each}}
				</ul> 
			</nav>	
    </div>
