<!-- 2 column table with border row START -->
                        <table class="table-row-border two-cols no-border">
                            <caption>Information about this table for screen readers</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Programme</th>
                                    <th scope="col">Collateral Pool</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <a href="#">Lloyds Bank plc Global Covered Bond Programme (formerly known as Lloyds TSB Bank plc)</a>
                                    </th>
                                    <td>UK Residential Mortgages</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="#">Bank of Scotland plc Residential Mortgage Covered Bond Programme</a>
                                    </th>
                                    <td>UK Residential Mortgages</td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="#">Bank of Scotland plc Residential Mortgage Covered Bond Programme</a>
                                    </th>
                                    <td>UK Residential Mortgages</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 2 column table with border row END -->