                     <!-- 5 column table with row border START -->
                        <table class="table-row-border five-cols">
                            <caption>Information about this table describing table cell contents</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Transaction</th>
                                    <th scope="col">Issue Date</th>
                                    <th scope="col">Issue Amount</th>
                                    <th scope="col">Maturity</th>
                                    <th scope="col">ISIN Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Series 2006-1</td>
                                    <td>24/03/10</td>
                                    <td>GBP 850m</td>
                                    <td>24/03/16</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 2004-1</td>
                                    <td>26/09/08</td>
                                    <td>GBP 170m</td>
                                    <td>27/10/14</td>
                                    <td>XS0390479185</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 5 column table with row border END -->