 <!-- 6 column table with row border START -->
                        <table class="table-row-border six-cols">
                            <caption>6 column table with row border</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Transaction</th>
                                    <th scope="col">Issue Date</th>
                                    <th scope="col">Issue Amount</th>
                                    <th scope="col">Maturity</th>
                                    <th scope="col">ISIN Number</th>
                                    <th scope="col">Column 6</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Series 41</td>
                                    <td>24/03/10</td>
                                    <td>EUR 850m</td>
                                    <td>24/03/16</td>
                                    <td>XS0496583468</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 35</td>
                                    <td>26/09/08</td>
                                    <td>EUR 170m</td>
                                    <td>27/10/14</td>
                                    <td>XS0390479185</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 26</td>
                                    <td>18/12/07</td>
                                    <td>DKR 4.68bn </td>
                                    <td>02/01/18</td>
                                    <td>DK0030075023</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 25</td>
                                    <td>26/10/07</td>
                                    <td>EUR 2bn</td>
                                    <td>24/03/16 </td>
                                    <td>XS0496583468</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 23</td>
                                    <td>26/10/07</td>
                                    <td>EUR 1.25bn</td>
                                    <td>27/10/14</td>
                                    <td>XS0390479185</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 22</td>
                                    <td>08/06/07</td>
                                    <td>EUR 1.25bn</td>
                                    <td>02/01/18</td>
                                    <td>DK0030075023</td>
                                    <td>XS0496583468</td>
                                </tr>
                                <tr>
                                    <td>Series 21</td>
                                    <td>08/06/07</td>
                                    <td>USD 2.19bn</td>
                                    <td>24/03/16</td>
                                    <td>XS0496583468</td>
                                    <td>XS0496583468</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- 6 column table with row border END -->