<div id="landing" class="pad" core-branding="{ style: 'rounded center' }"></div>
<footer class="bottom pad">
  <button class="col btn-lg" ui-sref="core.login">Log In</button>
  <button class="col btn-lg" ui-sref="core.preview">Preview</button>
</footer>