<core-slide-box>
  <core-slide>
    <div class="box blue"><h1>BLUE</h1></div>
  </core-slide>
  <core-slide>
    <div class="box yellow"><h1>YELLOW</h1></div>
  </core-slide>
  <core-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </core-slide>
</core-slide-box>