/* 
 * # Action bar
 */

.bar {
  .title + .buttons {
    top: 0;
    right: 0;
    bottom: 0;
  }
  .buttons {
    // @extend .slideUp;
    @extend .crossFade;
    & > span {
      position: absolute;
    }

    &.right-buttons > span {
      right: 0;
    }

    .button {
      &, &::before, &::after {
        line-height: 43px;
      }

      &.nav {
        position: relative;
        padding-left: 0;
        text-align: left;
        border: 0;
        overflow: hidden;
        // -webkit-font-smoothing: subpixel-antialiased;
        // -webkit-transform-style: preserve-3d;
        .icon {
          @include inline-block;
          margin-right: 6px;
        }
      }

      &.activated {
        box-shadow: none;
        border: 0;
      }

      .icon {
        vertical-align: middle;
      }
    }

    &.left-buttons .button {
      @include border-radius( 0 0 0 5px );
    }
    &.right-buttons .button {
      @include border-radius( 0 0 5px 0 );
    }
  }
}

.bar-header {
  @include branded;
  @include animation-duration(400ms);
  @include animation-timing-function($slide-in-up-function);
  @include animation-fill-mode(both);
  border: none;
  background: none;
  // @include background-image(linear-gradient(rgba($core-orange,.3), rgba($core-orange,.1), rgba($core-orange,0)));

  // @include animation-name(slideInDown);
  // @include translate3d(0, -100%, 0);
  // opacity: 0;
  z-index: 99 !important;
  line-height: 28px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    @include single-box-shadow(rgba(#000, .1), 0, 2px);
  }

  .title, .shell & .button {
    font-weight: 600;
    font-size: 1.1em;
  }

  // &.invisible {
  //   opacity: 0;
  // }

  // &.invisible.reverse {
  //   visibility: visible;
  //   @include animation-name(slideOutDown);
  // }
}

.platform-android {
  .bar .buttons .button {
    min-height: 38px;
    line-height: 38px;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  @include border-radius( 3px );
  @include translate3d(0,0,0);
  height: 3px;
}

.hamburger {
  @include transition(background 200ms);
  @include translate3d(10px,0,0);
  @include inline-block;
  width: 20px;
  position: relative;
  background: $core-grey;
  margin-right: 14px;
}

.hamburger::before,
.hamburger::after {
  @include transition(all 300ms cubic-bezier(0.63, 0.62, 0.48, 1.64));
  background: $core-grey;
  content: "";
  width: 100%;
  margin-top: -6px;
  position: absolute;
}

.hamburger::after {
  margin-top: 6px;
}

.menu-open .hamburger {
  background: transparent;
}
.menu-open .hamburger::before {
  @include transform(rotate(45deg) translate(4px, 5px));
}
.menu-open .hamburger::after {
  @include transform(rotate(-45deg) translate(3px, -5px));
}