/* 
 * # Buttons
 */

button, .btn {
  @include block-type;
  font-weight: bold;
}

.btn {
  @include border-radius(5px);
  @include translucent( .5, $white );
  @include horz-padding();
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 1em;

  &.lite {
    background: none;
    border: 1px solid $core-grey;
  }

  &.icon {
    @include transition( all $transition-duration ease-in-out );
    background: none;
    padding: 10px;
    &:hover, &:focus,&:active, &.active {
      background: none;
      color: $core-yellow;
    }
  }

  &.icon--lg {
    @extend .btn.icon;
    .fa {
      font-size: 2em;
    }
  }
}

a.btn {
  font-weight: normal;
  line-height: ($button-height - $button-padding + 6);
  text-align: center;
}

.btn-lg {
  @extend .btn;
  @include vert-padding( $big-button-padding );
  @include horz-padding();
  line-height: 1.5em;
  font-size: 1.1em;

  &.col {
    margin-top: 10px;
  }
}

.btn-circle {
  @extend .btn;
  @include border-radius(50px);
  width: 75px;
  height: 55px;
  text-align: center;
  font-size: 24px;
}

.bottom-btn {
  @extend .bottom;
  @include translucent( .25, $white );

  border: none;
  height: 50px;

  @media all and (max-height: 400px) {
    display: none;
  }
}


.center-cta {
  width: 100%;
  text-align: center;
}

// Header bar buttons
.bar-header, .menu {
  button {
    @include naked-button;
  }
}

// Footer bar buttons
.bar-footer, .footer {
  .btn {
    margin: 10px;
  }

  .btn-lg {
    @include vert-padding( 5px );
    margin-right: 5px;
    & + .btn-lg {
      margin-left: 5px;
      margin-right: 10px;
    }
  }
}


// Icon buttons
.btn--arrow-up {
  @include transition( opacity, transform );
  @include transition-duration(50ms);
  @include transition-timing-function(cubic-bezier(0.63, 0.62, 0.48, 1.64));
  position: relative;
  background: none;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 70px solid;

  &::before {
    color: #fff;
    font-size: 1.7em;
    line-height: 2.9em;
    padding: .5em 1.6em 0;
    left: -2em;
    position: relative;
  }

  &:focus, &:active, &.ng-click-active, &.activated {
    @include transform( scale(1.2) );
    opacity: .8;
  }

  .control__ind {
    top: 18px;
  }
}
.btn--arrow-down {
  @extend .btn--arrow-up;
  border-top: 70px solid;
  border-bottom: 0;
  &::before {
    bottom: 3.3em;
    padding: 0 1.6em .5em;
  }
  .control__ind {
    top: auto;
    bottom: 1.8em;
  }
}