/*
 * # Forms
 */

// turn off webkit checkbox style, works for other inputs too
input[type="checkbox"] {
  -webkit-appearance: none;
  pointer-events: none;
}

// placeholder text opacity
input {
  @include placeholder {
    color: $core-grey-lighter;
    opacity: .8;
    text-transform: none;
  }
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
  // padding-left: $input-padding;
  // height: $input-height;
  font-weight: 300;

  // &:hover, &:focus, &:active {
  //   color: $white;
  //   @include placeholder {
  //     color: $white;
  //   }
  // }
}

input, select {
  @include sans;
  @include placeholder {
    color: $core-grey;
  }

  &.lg-input {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    height: auto;
    @include vert-padding(10px);
  }

  &.dark-input {
    @include translucent(.3, $white);
    @include placeholder {
      color: $white;
    }
  }

  &:focus + .errors, &:focus + label + .errors {
    display: none;
  }

  &.ng-invalid.ng-dirty, &.ng-invalid-required.ng-dirty {
    background-color: rgba($core-red, .55);
    &:hover {
      background-color: rgba($core-red, .75);
    }
    &:focus {
      background-color: rgba($base-color, .35);
    }
  }
}

.input-label {
  @include block-type;
}

.item-input {
  &:first-child, &:first-of-type {
    @include border-radius(5px 5px 0 0);
  }
  &:last-child, &:last-of-type {
    @include border-radius(0 0 5px 5px);
  }
  .input-label + & {
    text-align: right;
  }
}

form {
  color: $core-grey;
  // Wow - including the following line causes the app to SIGSEGV on samsung S3 phones (and perhaps others)
  // Perhaps this is related to the fact that the .page-form also defines the width and height?!
  //  width: 100%; height: 100%;

  .form-group {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }

  [core-branding] + & {
    padding-top: 10px;
  }

  .row {
    padding: 0;
  }

  .col {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    & + .col {
      padding-left: 5px;
      padding-right: 0;
    }
  }

  .cta {
    padding: $padding-base-vertical 0;
    button[type="submit"] {
      overflow: hidden;
      span, &:before {
        @include inline-block;
        position: relative;
      }
      span {
        @extend .animate-all;
        margin-left: -27px;
      }
      &:before {
        @extend .ion-loading-c;
        @include opacity(0);
        margin-right: 10px;
      }
    }
  }

  &.is-working {
    .cta button[type="submit"] {
      &:before {
        @include opacity(1);
      }
      span {
        margin-left: 0;
      }
    }
  }
}

.page-form {
  // @include app-bg;
}

// .float-input {
//   position: relative;
//   overflow: hidden;

//   input {
//     padding: 8px 10px;
//     line-height: 1em;
//   }

//   input, input + label[for] {
//     @extend .animate-all;
//     @include translate3d(0, 0, 0);
//   }

//   &:focus input, input:focus, .ng-dirty {
//     padding-top: 16px;
//     height: $input-height * 1.5;
//     vertical-align: baseline;
//     & + label[for] {
//       @include translate3d(0, 0, 0);
//       @include opacity(1);
//     }
//   }

//   label[for] {
//     @include translate3d(0, -8px, 0);
//     @include opacity(0);
//     position: absolute;
//     top: 3px;
//     left: 10px;
//     right: 10px;
//     display: block;
//     font-size: 0.7em;
//     z-index: -1;
//   }
// }

.all-caps {
  text-transform: uppercase;
}

.toggle {
  cursor: pointer;
  input:checked + .track {
    background-color: $core-orange;
  }
}

.toggle .track, .checkbox input {
  vertical-align: middle;
  margin-right: 5px;
  background-color: rgba($core-orange,.35);
  border: none;
}

.checkbox {
  padding: 0;
  white-space: nowrap;
  input {
    &, &:focus {
      background: none;
    }
    &:before, &:checked:before {
      @include border-radius(10px);
      border: none;
      border-bottom: 1px solid;
      @extend .bg-orange;
    }

    &:after {
      font-weight: 300;
      border-color: $core-grey;
      top: 30%;
    }
  }
}

.errors {
  padding: 0;
  list-style: disc;
  font-size: .85em;
  color: $core-red;
  &.active {
    margin: 5px 0 0;
  }
  .error {
    line-height: 1em;
    padding: 5px 0 0;
  }
}