/* 
 * # Menus
 */
.menu {
  @include sans;
  @include opt-anim;
  @include transition-transform($menu-animation-speed * 1.8 ease);
  @include transition-delay(.5);
  background: none;
  .scroll-bar {
    visibility: hidden;
  }
}

.menu-content {
  // @include transform-style();
  @include opt-anim;
  // @include transition-transform($menu-animation-speed ease);
  // opacity: 1;

  // .menu-open & {
  //   opacity: .8;
  // }
}

.menu-left {
  &.menu-inactive {
    @include translate3d(-100%,0,0);
  }
  // top: $bar-height;
  // @include single-box-shadow(rgba(#000, .1), 2px, 0);
  // margin-left: -$menu-width;
  // z-index: 9 !important;
  // -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-transform-style: preserve-3d;
  // overflow: visible;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    height: 100%;
    @include single-box-shadow(rgba(#000, .1), 2px, 0);
  }

  button.btn {
    @include border-radius(0);
  }

  .bottom, .scroll-content {
    z-index: 9;
  }

  .item-divider {
    @include block-type;
    @include horz-padding(10px);
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 20px 5px;
    background: none;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
    color: $core-orange;
    font-size: 1.1em;
    letter-spacing: 4px;
  }

  .menu-item {
    &:first-child .item-group .item-divider {
      border-top: 0;
    }
    button.item {
      @include vert-padding(10px);
      @include horz-padding(30px);
      border: 0;
      background: none;
      color: $dark;
      text-align: left;
      font-size: 1em;
      font-weight: 300;
      text-transform: none;

      &:before, &:after {
        @extend .animate-all;
        font-family: 'FontAwesome';
        content: $fa-var-circle;
        position: absolute;
        color: rgba($white, .7);
        left: -8px;
        opacity: 1;
      }

      &:after {
        content: $fa-var-circle;
        left: -14px;
        z-index: 2;
        opacity: 0;
      }

      &:hover, &:focus, &:active, &.current {
        color: $core-red;
        background-color: none;
        &:before {
          opacity: 0;
        }
        &:after {
          left: -4px;
          color: $core-red;
          opacity: 1;
        }
      }
    }
  }

  .scroll-content {
    .scroll {
      height: 100%;
    }
  }
}


.menu-content {
  // @include single-box-shadow(none);

  /* &.pane:before {
    @include transition( opacity 500ms ease );
    @include opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    content: "";
    background-color: #000;

    .nav-animating &, .menu-open & {
      z-index: 10;
    }

    .menu-open & {
      @include opacity(.6);
    }
  } */
}