/* 
 * # Modals
 */

.modal-wrap {
  .grade-a &.visible-add, .grade-a &.visible-remove,
  .grade-b &.visible-add, .grade-b &.visible-remove {
    @include transition(opacity 250ms ease-in-out);
  }

  @include translate3d( 0, 100%, 0 );
  background-color: rgba( 0,0,0,.7 );
  position:fixed;
  // width:100%; height:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-modal;
  visibility: hidden;

  &.visible, &.visible-add, &.visible-remove {
    @include translate3d( 0, 0, 0 );
  }
  &.visible, &.visible-add.visible-add-active, &.visible-remove {
    visibility: visible;
    opacity: 1;
  }
  &, &.visible-remove.visible-remove-active {
    opacity: 0;
  }
}

.modal-inner {
  .grade-a .visible-add &, .grade-a .visible-remove &,
  .grade-b .visible-add &, .grade-b .visible-remove & {
    @include transition(all 250ms ease-in-out);
  }
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &, .visible-add &, .visible-remove-active & {
    @include translate3d( 0, 100%, 0 );
  }
  .visible & {
    @include translate3d( 0, 0, 0 );
  }
}

.modal-box {
  @include border-radius(0 0 5px 5px);
  position:relative;
  margin: 0 10px 10px;
  overflow: hidden;
}

.modal-content {
  @include border-radius(5px 5px 0 0);
  margin: 0 auto;
  padding: 10px 15px;
  background-color: white;
  max-height: 80%;
  overflow: auto;
}

.modal-title {
  @include branded;
  position: relative;
  padding: 10px 2px;
  padding-right: 35px;
  margin: 0 auto;
  color: white;
  font-size: 1.3em;
  min-height: 2em;

  &.no-title {
    padding-bottom: 20px;
  }
}

.modal-cancel {
  position: absolute;
  top: -6px;
  right: -16px;
  padding: 15px;
  height: 50px;
  width: 52px;
  text-align: center;
  color: white;

  &:hover, &:focus, &:active {
    color: $core-orange;
  }
}

.modal-button {
  @include border-radius(0 0 5px 5px);
  width: 100%;
  padding: 10px 15px;
  background-color: $core-orange;
  color: $white;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
}

.modal-wrap.promo {
  .modal-inner {
    @include vert-content(".modal-box");
    .platform-ios7.platform-cordova:not(.fullscreen) & {
      top: 20px;
    }
  }
  .modal-content, .modal-title {
    max-width: 480px;
    margin: 0 15px;
    padding: 10px;
    @media screen and (min-width: 481px) {
      margin: 0 auto;
    }
  }
  .modal-content {
    @include border-radius(5px);
  }
}
