<ion-view title="Create your account" hide-nav-bar="true">
  <ion-content padding="true">
    <div core-branding></div>

    <form class="page-form" name="registerForm" role="registration" novalidate
    ng-class="{ 'is-working': working }"
    ng-submit="submit(registerForm)">
      <!-- <h3>Create your account</h3> -->
      <p>Your supplier account has been confirmed, you can now create your account.</p>
      <div class="form-group float-input">
        <input type="email" class="form-control" placeholder="Email address" name="email"
        required floating-label
        ng-model="regUser.email">
        <label for="email">Email address</label>
        <ul class="errors"
        ng-class="{ active: registerForm.email.$invalid && registerForm.email.$dirty }">
          <li class="error ng-hide"
          ng-show="registerForm.email.$error.email">E-Mail seems invalid.</li>
          <li class="error ng-hide"
          ng-show="registerForm.email.$error.used">E-Mail is already taken.</li>
        </ul>
      </div>

      <div class="form-group float-input">
        <input type="password" class="form-control" placeholder="Create password" name="password"
        required floating-label
        ng-model="regUser.password">
        <label for="password">Create password</label>
      </div>

      <div class="cta">
        <button class="btn-lg" type="submit"><span>Sign up</span></button>
      </div>

      <p class="small-print">
        <span>By clicking <strong>Sign up</strong>, I agree to WaleA3's<br><a href="#/terms">Terms of Service</a> and <a href="#/privacy">Privacy Policy</a></span>
      </p>
    </form>
  </ion-content>
  <ion-footer-bar class="hide-on-keyboard-open padding">
    <a class="button icon-left ion-arrow-left-b button-clear button-light" ui-sref="core.landing">Back</a>
  </ion-footer-bar>

  <form class="page-form" name="verifyForm" role="validation" novalidate
    ng-submit="confirmAccount(verifyForm)">
    <modal title="Complete sign up" active="verifyEmail" action="confirmAccount(verifyForm)" cta="Finish" cancelable="true">
      <p>A confirmation email has been sent to you.</p>
      <p>Please click the <strong>confirm link in the email</strong> or <strong>enter the code</strong> from the email.</p>
        <div class="form-group">
          <input type="text" class="form-control dark-input lg-input all-caps" placeholder="Enter verification code" name="verify_code"
          required no-spaces
          ng-model="$parent.verifyCode">
        </div>
    </modal>
  </form>

  <modal title="Registration failed" active="hasError" action="clearError()" cta="Try again" cancelable="true">
    {{ errorMsg }}
  </modal>
</ion-view>