<ion-view title="Sign in" hide-nav-bar="true">
  <ion-content has-footer="true" padding="true">
    <!-- <div core-branding="{ style: 'white' }"></div> -->

    <form class="page-form" name="loginForm" role="login" novalidate
    ng-class="{ 'is-working': working }"
    ng-submit="submit(loginForm)">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input required type="email" class="form-control" ng-model="login.email" name="email" autocapitalize="off"  placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input required type="password" class="form-control" ng-model="login.password" name="password" placeholder="">
      </label>

      <div class="cta">
        <button class="btn-lg bg-orange full" type="submit"><span>Sign in</span></button>
        <label class="form-group checkbox">
          <input type="checkbox" ng-model="login.autoLogin"> Stay logged in
        </label>
      </div>
    </form>
  </ion-content>

  <ion-footer-bar class="padding">
    <a class="button icon-left ion-arrow-left-b button-clear button-light" ui-sref="core.landing">Back</a>
    <a href="#/reset-password">Forgot your password?</a>
  </ion-footer-bar>

  <modal title="Login error" active="login.wrong" action="retryLogin()" cta="Try again" cancelable="true">
    Please enter a valid e-mail address and password
  </modal>
</ion-view>